.container {
  display: flex;
  justify-content: center;
  .container-inputs {
    margin-bottom: 3%;
    padding: 10px;
    width: 90%;
    text-align: left;
    ion-select {
      width: 100%;
      justify-content: center;
    }
  .label {
    color: #3E4958;
    opacity: 0.8;
    font-weight: bold;
    padding-left: 10px;
  }
    .input-ionItem {
      --background: #F7F8F9;
      --highlight-color-focused: #008D36;
      --highlight-color-valid: #008D36;
      border: 0.5px solid #D5DDE0;
      border-radius: 15px;
      margin-top: 3%;
    }
  }
  .container-select {
    text-align: left;
    padding: 10px;
    width: 90%;
    margin: 0px;
  }
}

.container-inputs-vehicle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-see-img {
  --background: #F7F8F9;
  --background-activated: #F7F8F9;
  --color:#3E4958;
  font-size: 13px;
  font-weight: bold;
  --border-color:rgba(255,255,255,0);
}

.btn-subir {
  background-color: #008D36;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 5%;
  font-size: 25px;
}

ion-checkbox {
  --background: #F2F2F2;
  --border-radius: 8px;
  --size: 30px;
  --border-width: 1px;
}

.checkbox-text {
  font-style: normal;
  font-weight: normal;
  color: #3E4958;
}

.btn {
  width: 75%;
  height: 60px;
  --background: #008D36;
  --border-radius:15px;
  --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 17px;
}

.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}

h5 {
  font-size: 18px;
  color: #3E4958;
  font-weight: bold;
}
