<app-header title="Editar"></app-header>
<ion-content>
  <ion-grid>
    <ion-row class="container-title">
      <ion-col size="8">
        <h5>Describe tu vehículo</h5>
      </ion-col>
      <ion-col size="4">
        <ion-avatar>
          <img *ngIf="uUser?.imagen == ''" src="../../../../../assets/img/user.png">
          <img *ngIf="uUser?.imagen != ''" src="{{ uUser?.imagen }}">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="container">
      <div class="container-inputs">
        <ion-label class="label">PLACA*</ion-label>
        <div class="container-inputs-vehicle">
          <ion-item *ngIf="uUser?.vehicle.plateImagen == ''" class="input-ionItem" style="width: 75%">
            <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
          </ion-item>
          <ion-item *ngIf="uUser?.vehicle.plateImagen != ''" class="input-ionItem" style="width: 75%"
            >
            <img src="{{ uUser?.vehicle.plateImagen }}">
          </ion-item>
          <div class="container-icon">
            <ion-item lines="none">
              <ion-input type="file" accept="image/*" id="file-input-license-imagen" class="file-input"
                (change)="changeFileImagen($event, 'plateImagen')"></ion-input>
              <button class="btn-subir">
                <ion-icon name="arrow-up-outline"></ion-icon>
              </button>
            </ion-item>
          </div>
        </div>
      </div>
      <div class="container-inputs">
        <ion-label class="label">MODELO DEL VEHÍCULO*</ion-label>
        <div class="container-inputs-vehicle">
          <ion-item class="input-ionItem" style="width: 75%">
            <ion-input type="text" [(ngModel)]="uUser?.vehicle.brand"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="container-inputs">
        <ion-label class="label">FOTO DEL VEHICULO*</ion-label>
        <div class="container-inputs-vehicle">
          <ion-item class="input-ionItem" *ngIf="uUser?.vehicle.imagen == ''" style="width: 75%">
            <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
          </ion-item>
          <ion-item *ngIf="uUser?.vehicle.imagen != ''" class="input-ionItem" style="width: 75%"
            >
            <img src="{{ uUser?.vehicle.imagen }}">
          </ion-item>
          <ion-item lines="none">
            <ion-input type="file" accept="image/*" id="flicenseImagenile-input" #fileInp class="file-input"
              (change)="changeFileImagen($event, 'vehicleImagen')"></ion-input>
            <button class="btn-subir">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </button>
          </ion-item>
        </div>
      </div>

      <div class="container-inputs">
        <ion-label class="label">LICENCIA*</ion-label>
        <div class="container-inputs-vehicle">
          <ion-item class="input-ionItem" *ngIf="uUser?.vehicle.licenseImagen == ''" style="width: 75%">
            <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
          </ion-item>
          <ion-item *ngIf="uUser?.vehicle.licenseImagen != ''" class="input-ionItem" style="width: 75%"
            >
            <img src="{{ uUser?.vehicle.licenseImagen }}">
          </ion-item>
          <ion-item lines="none">
            <ion-input type="file" accept="image/*" class="file-input" #fileInp
              (change)="changeFileImagen($event, 'licenseImagen')"></ion-input>
            <button class="btn-subir">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </button>
          </ion-item>
        </div>
      </div>
      <div class="container-inputs">
        <ion-label class="label">COLOR*</ion-label>
        <ion-item class="input-ionItem" style="width: 75%">
          <ion-input type="text" [(ngModel)]="uUser?.vehicle.color"></ion-input>
        </ion-item>
      </div>
      <div class="container-inputs">
        <ion-label class="label">NUMERO DE ASIENTOS DISPONIBLES*</ion-label>
        <ion-item class="input-ionItem" style="width: 75%">
          <ion-input type="number" [(ngModel)]="uUser?.vehicle.availableSeats"></ion-input>
        </ion-item>
      </div>
      <div class="container-inputs">
        <ion-list lines="none">
          <ion-item>
            <ion-label class="checkbox-text">ACEPTA MASCOTAS</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="uUser?.vehicle.accepPets"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap checkbox-text">ESPACIO PARA EQUIPAJE</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="uUser?.vehicle.luggageSpace"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label class="checkbox-text">PERMITE FUMADORES</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="uUser?.vehicle.acceptSmok"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <ion-button class="btn" (click)="update(uUser)">Actualizar</ion-button> 
    </ion-row>
  </ion-grid>
</ion-content>
