ion-card {
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

p {
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.container {
	margin: auto;
}

.img-container {
	text-align: center;
}

.type-vehicle {
	text-align: center;
}

.point {
	border-radius: 100%;
	width: 8px;
	height: 8px;
	background: blue;
	margin-bottom: 5px;
}

.stick {
	width: 1px;
	height: 40px;
	background: black;
	margin-top: 5px;
	margin-left: 3px;
}

.point-container {
	text-align: center;
}

.icons-container {
	position: relative;
	top: 5px;
	left: 15px;
}

ion-content > ion-card {
	margin-top: 60px;
}

/* Contenedor de imagen del usuario */
.container-img{
	display: flex;
	align-items: center;
	justify-content: center;
	.img{
		width: 82px;
		height: 80px;
		border-radius: 10px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}