<app-header title="Historial"></app-header>
<ion-content>
    <div class="container">
  <!--     <ion-searchbar inputmode="text" placeholder="Buscar por  nombre" (ionChange)="onSearchChange($event)">
      </ion-searchbar> -->

     <div *ngFor="let travel of travels | async ">
      <ion-card *ngIf="uUser?.role == 'admin'">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-col size="4" class="container-img">
              <div *ngIf="travel.client.imagen != ''" style="background-image: url({{ travel.client.imagen }});" class="img">
              </div>
              <div *ngIf="travel.client.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
              </div>
            </ion-col>
            <ion-col size="6">
              <p>Número de Pasajeros: {{travel.numberPassengers}} </p>
              <p *ngIf="travel.payMethod == 'cash'">Tipo de Pago: Efectivo</p>
              <p *ngIf="travel.payMethod == 'transfer'">Tipo de Pago: Transferencia</p>
              <p>Tipo de Vehículo: {{travel.vehicleType}} </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-row>
                  <ion-col size="1">
                    <div class="icons-container">
                      <div class="point-container">
                        <p class="point"></p>
                      </div>
                      <div class="stick"></div>
                    </div>
                  </ion-col>
                  <ion-col size="11">
                    <ion-item>  {{travel.destinyLocation.address}} </ion-item>  
                    <ion-item lines="none">{{travel.startLocation.address}} </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card *ngIf="userId == travel.driverId">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-col size="4" class="container-img">
              <div *ngIf="travel.client.imagen != ''" style="background-image: url({{ travel.client.imagen }});" class="img">
              </div>
              <div *ngIf="travel.client.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
              </div>
            </ion-col>
            <ion-col size="6">
              <p>Número de Pasajeros: {{travel.numberPassengers}} </p>
              <p *ngIf="travel.payMethod == 'cash'">Tipo de Pago: Efectivo</p>
              <p *ngIf="travel.payMethod == 'transfer'">Tipo de Pago: Transferencia</p>
              <p>Tipo de Vehículo: {{travel.vehicleType}} </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-row>
                  <ion-col size="1">
                    <div class="icons-container">
                      <div class="point-container">
                        <p class="point"></p>
                      </div>
                      <div class="stick"></div>
                    </div>
                  </ion-col>
                  <ion-col size="11">
                    <ion-item>  {{travel.destinyLocation.address}} </ion-item>  
                    <ion-item lines="none">{{travel.startLocation.address}} </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      
      <ion-card *ngIf="userId == travel.clientId">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-col size="4" class="container-img">
              <div *ngIf="travel.client.imagen != ''" style="background-image: url({{ travel.client.imagen }});" class="img">
              </div>
              <div *ngIf="travel.client.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
              </div>
            </ion-col>
            <ion-col size="6">
              <p>Número de Pasajeros: {{travel.numberPassengers}} </p>
              <p *ngIf="travel.payMethod == 'cash'">Tipo de Pago: Efectivo</p>
              <p *ngIf="travel.payMethod == 'transfer'">Tipo de Pago: Transferencia</p>
              <p>Tipo de Vehículo: {{travel.vehicleType}} </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-row>
                  <ion-col size="1">
                    <div class="icons-container">
                      <div class="point-container">
                        <p class="point"></p>
                      </div>
                      <div class="stick"></div>
                    </div>
                  </ion-col>
                  <ion-col size="11">
                    <ion-item>  {{travel.destinyLocation.address}} </ion-item>  
                    <ion-item lines="none">{{travel.startLocation.address}} </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div> 
    </div>
</ion-content>
