ion-content {
    --background: rgba(9, 116, 39, 0.8);
  
    .search {
      height: 90%;
      width: 100%;
  
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.4);
          width: 220px;
          height: 220px;
          border-radius: 100%;
  
          .circle-small {
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(255, 255, 255, 0.4);
              width: 120px;
              height: 120px;
              border-radius: 100%;
          }
  
          .circle-very-small{
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(255, 255, 255, 0.4);
              width: 55px;
              height: 55px;
              border-radius: 100%;
          }
  
          
        }
      }
    }
  }
  .search-text{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 10%;
  
  }
  .img-car{
      position: absolute;
      width: 100px;
      
  }
  