<ion-content>
  <ion-row class="search"> 
    <ion-col size="12">
      <div class="circle" #circle>
        <div class="circle-small" #circleSmall>
          <div class="circle-very-small" #circleVerySmall>

          </div>
          
        </div>
      </div>
      <img class="img-car" src="../../../../../assets/img/search-car.png" alt="">

    </ion-col>
  </ion-row>
  <ion-row class="search-text">
    <p>Viaje Confirmado</p>
  </ion-row>
  
</ion-content>
