<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-header">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollable="true">
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid fixed>
        <ion-row class="container-img">
          <img src="../../assets/img/vehicle-register.png" alt="" />
        </ion-row>
        <ion-row class="container-item">
          <h5>Elige tu tipo de usuario</h5>
        </ion-row>
        <ion-row class="container-select-role">
          <ion-item class="select-ionItem">
            <ion-select cancelText="Cancelar" name="role" [(ngModel)]="user.role" value="client" okText="Aceptar">
              <ion-select-option value="client"><span>Cliente</span></ion-select-option>
              <ion-select-option value="driver"><span>Conductor</span></ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="container-select-role" [routerLink]="['../../login']">
          <p>Tienes una cuenta? <span>Ingresa aquí </span></p>
        </ion-row>
      </ion-grid>
    </ion-slide>


    <ion-slide *ngIf="user.role != 'client'" class="background-slide-drivers">
      <ion-grid>
        <ion-row class="container-title">
          <h5>Cuéntanos de ti</h5>
        </ion-row>
        <ion-row class="container">
          <div class="container-inputs">
            <ion-label class="label">NOMBRE*</ion-label>
            <ion-item class="input-ionItem">
              <ion-input type="text" [(ngModel)]="user.name"></ion-input>
            </ion-item>
          </div>
          <div class="container-inputs">
            <ion-label class="label">EMAIL*</ion-label>
            <ion-item class="input-ionItem">
              <ion-input type="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
          </div>
          <div class="container-inputs">
            <ion-label class="label">CONTRASEÑA*</ion-label>
            <ion-item class="input-ionItem">
              <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="user.role != 'client'" class="background-slide">
      <ion-grid>
        <ion-row class="container-title">
          <h5>Cuéntanos de ti</h5>
        </ion-row>
        <ion-row class="container">
          <div class="container-inputs">
            <ion-label class="label">DIRECCIÓN*</ion-label> 
            <ion-item class="input-ionItem">
              <ion-input placeholder="Se obtiene desde el GPS" type="text" disabled="true" [value]="user.address"></ion-input>
            </ion-item> <br>
            <ion-label class="label">NUMERO DE CELULAR*</ion-label>
            <ion-item class="input-ionItem">
              <ion-input type="number" [(ngModel)]="user.telephoneNumber"></ion-input>
            </ion-item>
          </div>
          <div class="container-select">
            <ion-label class="label gender">GENERO</ion-label>
            <ion-item class="select-ionItem" style="width: 100%;">
              <ion-select [(ngModel)]="user.gender" name="gender" cancelText="Cancelar" name="role" value="client"
                okText="Aceptar">
                <ion-select-option value="Femenino"><span>Femenino</span></ion-select-option>
                <ion-select-option value="Masculino"><span>Masculino</span></ion-select-option>
                <ion-select-option value="Otros"><span>Otros</span></ion-select-option>
              </ion-select>
            </ion-item>
          </div>

        </ion-row>
<!--         <ion-row class="container-btn">
          <ion-button class="btn" (click)="signin()"> Registrarse </ion-button>
        </ion-row> -->
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="user.role != 'client'" class="background-slide-client">
      <ion-grid class="scroll-vertically">
        <ion-row class="container-title">
          <h5>Describe tu vehículo</h5>
        </ion-row>
        <ion-row class="container">
          <div class="container-inputs">
            <ion-label class="label">PLACA*</ion-label>
            <div class="container-inputs-vehicle">
              <ion-item *ngIf="vehicle.plateImagen == ''" class="input-ionItem" style="width: 75%">
                <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
              </ion-item>
              <ion-item *ngIf="vehicle.plateImagen != ''" class="input-ionItem" style="width: 75%"
                >
                <ion-button class="btn-see-img">
                  Tocar para ver imagen
                </ion-button>
              </ion-item>
              <div class="container-icon">
                <ion-item lines="none">
                  <ion-input type="file" accept="image/*" id="file-input-license-imagen" class="file-input"
                    (change)="changeFileImagen($event, 'plateImagen')"></ion-input>
                  <button class="btn-subir">
                    <ion-icon name="arrow-up-outline"></ion-icon>
                  </button>
                </ion-item>
              </div>
            </div>
          </div>
          <div class="container-inputs">
            <ion-label class="label">MODELO DEL VEHÍCULO*</ion-label>
            <div class="container-inputs-vehicle">
              <ion-item class="input-ionItem" style="width: 75%">
                <ion-input type="text" [(ngModel)]="vehicle.brand"></ion-input>
              </ion-item>
            </div>
          </div>
          <div class="container-inputs">
            <ion-label class="label">FOTO DEL VEHICULO*</ion-label>
            <div class="container-inputs-vehicle">
              <ion-item class="input-ionItem" *ngIf="vehicle.imagen == ''" style="width: 75%">
                <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
              </ion-item>
              <ion-item *ngIf="vehicle.imagen != ''" class="input-ionItem" style="width: 75%"
                >
                <ion-button class="btn-see-img">
                  Tocar para ver imagen
                </ion-button>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="file" accept="image/*" id="flicenseImagenile-input" #fileInp class="file-input"
                  (change)="changeFileImagen($event, 'vehicleImagen')"></ion-input>
                <button class="btn-subir">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </button>
              </ion-item>
            </div>
          </div>

          <div class="container-inputs">
            <ion-label class="label">LICENCIA*</ion-label>
            <div class="container-inputs-vehicle">
              <ion-item class="input-ionItem" *ngIf="vehicle.licenseImagen == ''" style="width: 75%">
                <ion-input type="text" value="Imagen no subida" disabled="true"></ion-input>
              </ion-item>
              <ion-item *ngIf="vehicle.licenseImagen != ''" class="input-ionItem" style="width: 75%"
                >
                <ion-button class="btn-see-img">
                  Tocar para ver imagen
                </ion-button>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="file" accept="image/*" class="file-input" #fileInp
                  (change)="changeFileImagen($event, 'licenseImagen')"></ion-input>
                <button class="btn-subir">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </button>
              </ion-item>
            </div>
          </div>
          <div class="container-inputs">
            <ion-label class="label">COLOR*</ion-label>
            <ion-item class="input-ionItem" style="width: 75%">
              <ion-input type="text" [(ngModel)]="vehicle.color"></ion-input>
            </ion-item>
          </div>
          <div class="container-inputs">
            <ion-label class="label">NUMERO DE ASIENTOS DISPONIBLES*</ion-label>
            <ion-item class="input-ionItem" style="width: 75%">
              <ion-input type="number" [(ngModel)]="vehicle.availableSeats"></ion-input>
            </ion-item>
          </div>
          <div class="container-inputs">
            <ion-list lines="none">
              <ion-item>
                <ion-label class="checkbox-text">ACEPTA MASCOTAS</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="vehicle.accepPets"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap checkbox-text">ESPACIO PARA EQUIPAJE</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="vehicle.luggageSpace"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label class="checkbox-text">ACEPTA FUMAR</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="vehicle.acceptSmok"></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>
          <ion-button class="btn" (click)="signIn()"> Registrarse </ion-button> </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="user.role == 'client'" class="background-slide">
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">NOMBRE* </ion-label>
          <ion-item class="input-ionItem">
            <ion-input [(ngModel)]="user.name" name="name" type="text"></ion-input>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label class="label">EMAIL*</ion-label>
          <ion-item class="input-ionItem">
            <ion-input [(ngModel)]="user.email" name="email" type="email"></ion-input>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label class="label">CONTRASEÑA*</ion-label>
          <ion-item class="input-ionItem">
            <ion-input [type]="inputType" name="password" [(ngModel)]="user.password"></ion-input>
            <ion-icon [name]="iconName" item-right (click)="showHiddenPassword()"></ion-icon>
          </ion-item>
        </div>
        <div class="container-inputs">
          <ion-label class="label">DIRECCIÓN*</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="text" placeholder="Se obtiene desde el GPS" disabled="true" [value]="user.address"
              name="address"></ion-input>
          </ion-item>
        </div>
      </ion-row>
    </ion-slide>

    <ion-slide *ngIf="user.role == 'client'" class="background-slide-client">
      <ion-grid>
        <ion-row class="container">
          <div class="container-select">
            <ion-label class="label gender">GENERO</ion-label>
            <ion-item class="select-ionItem" style="width: 100%">
              <ion-select cancelText="Cancelar" name="role" value="client" [(ngModel)]="user.gender" okText="Aceptar">
                <ion-select-option value="Femenino"><span>Femenino</span></ion-select-option>
                <ion-select-option value="Masculino"><span>Masculino</span></ion-select-option>
                <ion-select-option value="Otros"><span>Otros</span></ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="container-inputs">
            <ion-label class="label">NÚMERO DE CELULAR</ion-label>
            <ion-item class="input-ionItem">
              <ion-input type="number" maxlength="10" [(ngModel)]="user.telephoneNumber" name="number"></ion-input>
            </ion-item>
          </div>
        </ion-row>
        <ion-row class="container-btn">
          <ion-button class="btn" (click)="signIn()"> Registrarse </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
