/* Estilos para centrar el titulo del header solo en android */
.md .toolbar-header {
  text-align: center;
}

.background-slide{
  background-image: url("../../../../../assets/img/fondo-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.background-slide-client{
  background-image: url("../../../../../assets/img/fondo-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.background-slide-drivers{
  background-image: url("../../../../../assets/img/fondo-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Estilos del titulo de la pantalla */
ion-title {
  color: #3E4958;
  font-size: 20px;
  font-weight: bold;
}


/* Estilos del contenedor de la imagen para centrar la imagen */
.container-img {
  justify-content: center;
  margin-top: 12%;
}

/* Estilos para el texto de  elegir un tipo de usuario */
.container-item {
  justify-content: center;

  h5 {
    font-size: 18px;
    color: #3E4958;
    font-weight: bold;
  }
}

/* Estilos del contenedor del select */
.container-select-role {
  justify-content: center;
  margin-top: 10%;

  p {
    color: #97ADB6;
    font-size: 15px;

    span {
      color: #008D36;
      text-decoration: underline;
    }
  }
}

/* Estilos del ion-item que contiene el ion-select */
.select-ionItem {
  width: 90%;
  --background: #F7F8F9;
  --border-radius: 15px;
  --color: #008D36;
  --border-color: #D5DDE0;
  --border-style: solid;

  ion-select {
    justify-content: center;
    width: 100%;

    ion-select-option {
      span {
        color: #3E4958
      }
    }
  }


}



/* Contenedor de los circulos */
.container-circles {
  justify-content: center;
  align-items: center;
  display: flex;


}

/* Estilos del boton de seguir pantalla */
/* ion-button {
  --background: #BFE6CA;
  --color: black;
  --border-radius: 100%;
    height: 36px;
    width: 36px;
    font-size:11px;
    color: #3E4958;
 
 
} */

/* Estilos del slide */
ion-slides {
  height: 100%;
  --bullet-background: #008D36;
  --bullet-background-active: #008D36;
}

/* Set the text color */
ion-select::part(text) {
  color: #3E4958;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: #008D36;
  opacity: 1;
}



.btn-see-img{
  --background: #F7F8F9;
  --background-activated: #F7F8F9;
  --color:#3E4958;
  font-size: 13px;
  font-weight: bold;
  --border-color:rgba(255,255,255,0);
}


.gender {
  padding: 10px;
  display: block;
  text-align: left;
}



.container {
  justify-content: center;
  .container-inputs {
    margin-bottom: 3%;
    padding: 10px;
    width: 90%;
    text-align: left;
  
    ion-select {
      width: 100%;
      justify-content: center;
    }
  
    
  .label {
    color: #3E4958;
    opacity: 0.8;
    font-weight: bold;
    padding-left: 10px;
  }
  
  
    .input-ionItem {
      --background: #F7F8F9;
      --highlight-color-focused: #008D36;
      --highlight-color-valid: #008D36;
      border: 0.5px solid #D5DDE0;
      border-radius: 15px;
      margin-top: 3%;
    }
    
  }

  .container-select{
    text-align: left;
    padding: 10px;
    width: 90%;
    margin: 0px;
  }
  

}




.btn {
  width: 75%;
  height: 60px;
  --background: #008D36;
  --border-radius:15px;
  --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 17px;
}

.container-btn{
  justify-content: center;
  margin-top: 35%;
}



.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}





//Estilos de boton subir img
.btn-subir{
  background-color:#008D36;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 5%;
  font-size: 25px;
  }

  .container-inputs-vehicle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-title{
    margin-left: 10%;
    margin-bottom: 8%;
    h5{
      font-weight: bold;
      font-size: 18px;
      color: #3E4958;
    }
  }

  .container-img-vehicle{
    display: flex;
    justify-content: center;
    width: 75%;
    img{
      width: 20%;
      height: 20%;
    }
  }

  ion-slides {
    overflow-y: scroll;
  }

  .scroll-vertically {
    overflow: auto;
    height: 100%;
  }

ion-checkbox {
  --background: #F2F2F2;
  --border-radius: 8px;
  --size: 30px;
  --border-width: 1px;
}

.checkbox-text {
  font-style: normal;
  font-weight: normal;
  color: #3E4958;
}
