<ion-content scrollY="false">
  <ion-row class="container-close-modal">
    <div class="close-modal-line" (click)="alertsService.closeModal()"> 
    </div>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>Comenzar Viaje</p>
    </ion-col>
    <ion-col size="12">
      <ion-button class="btn green ion-text-capitalize" (click)="redirectTo('select-vehicle/false')">
        Agenda tu viaje
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="btn white ion-text-capitalize" (click)="redirectTo('select-vehicle/true')">
        Viaja Ahora
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

