//Estilos de los botones boton 
.btn {
  width: 100%;
  height: 60px;
  --border-radius:15px;
  --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  font-size: 17px;
}

/* Estilo del boton verde del modal */
.green {
  --background: #008D36;
  --background-activated:#008D36;
  color:white;
  font-weight: bold;
}

/* Estilo del boton blanco del modal */
.white {
  --background: white;
  --background-activated:white;
  color:#4B545A;
  font-weight: bold;
  --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
}

/* Se coloca paddings para ubicar los elementos de mejor manera */
ion-content {
  --padding-start:5%;
  --padding-end:5%;
}

/* Estilos de los parrafos del componenete */
p {
  color: #3E4958;
  font-size: 18px;
  font-weight: bold;
}

/* Estilos de la linea que cierra el modal */
.close-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0 ;
  border-radius: 50px;
}

/* Estilos del contenedor de la linea que cierra el modal */
.container-close-modal {
  padding: 5%;
  justify-content: center;
}
