<ion-content>
  <app-principal-header (openMenu)="openMenu()" slot="fixed"></app-principal-header>
  <div #mapstops id="mapstops"></div>
  <ion-grid>
    <ion-row class="container-title">
      <h5>Crear una nueva parada</h5>
    </ion-row>
    <ion-row class="container">
      <div class="container-inputs">
        <ion-label class="label">DIRECCIÓN</ion-label>
        <ion-item class="input-ionItem">
          <ion-input [(ngModel)]="stop.address" id="stop_address" autocomplete="off" (keyup)="keyUpHandler()"></ion-input>
        </ion-item>
      </div>
    </ion-row>
    
    <ion-row class="container">
      <div class="container-inputs">
        <ion-label class="label">NOMBRE</ion-label>
        <ion-item class="input-ionItem">
          <ion-input class="text-datails" type="text" [(ngModel)]="stop.name"></ion-input>
        </ion-item>
      </div>
    </ion-row>

    <ion-row class="container">
      <div class="container-inputs">
        <ion-label class="label">DESCRIPCIÓN</ion-label>
        <ion-item class="input-ionItem">
          <ion-textarea [(ngModel)]="stop.description"></ion-textarea>
        </ion-item>
      </div>
    </ion-row>

    <ion-row class="container">
      <div class="container-inputs">
        <ion-label class="label">ESTADO</ion-label>

        <ion-select value="publico" [(ngModel)]="stop.state">
          <ion-select-option value="publico">Publico</ion-select-option>
          <ion-select-option value="oculto">Oculto</ion-select-option>
        </ion-select>
      </div>
    </ion-row>
  </ion-grid>

  <ion-row class="container-btn">
    <ion-button class="btn" (click)="addstop()"> Crear Parada </ion-button>
  </ion-row>

</ion-content>
