/* Estilos cuando el usuario es administrador */
/* Estilos del header */
/* Estilo para colocar un margen izquierdo a cualquier elemento */
.margin-left{
  margin-left: 5%;
}

/* Contenedor de todas las tarjetas de navegación */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100%;
  ion-card {
    width: 90%;
    height: 130px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
  }
}

/* Estilos del mensaje de bienvenido */
.container-welcome {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  p {
    color: #3E4958;
    font-size: 20px;
    font-weight: bold;
  }
}

/* Estilos de las tarjetas de cada una de las opciones */
.card {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  .container-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 50px;
    }
  }
  .container-title {
    width: 50%;
    h1 {
      font-weight: bold;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Color verde para las tarjetas de ese color */
.green {
  --background: #008D36;
  color: white;
}

/* Color azul para las tarjetas de ese color */
.blue {
  --background: #214E9D;
  color: white;
}

/* Color azul transparente para las tarjetas de ese color */
.blueTrans {
  --background: #7590C2;
  color: white;
}

/* Colores de los iconos de las tarjetas */
.green-icon {
  color: rgba(0, 141, 54, 0.7);
  ;
}

.blue-icon {
  color: rgba(33, 78, 157, 0.7);
}

.white-icon {
  color: rgba(255, 255, 255, 0.5);
}

/* Sombras de las tarjetas */
.box-shadow-green {
  box-shadow: 0px 2px 15px rgba(78, 255, 34, 0.15);
}

.box-shadow-blue {
  box-shadow: 0px 2px 15px rgba(78, 255, 34, 0.15);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Estilo del contenedor de la linea que cierra el modal */
.open-modal {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px 14px 0px 0px;
  ion-row {
    display: flex;
    justify-content: center;
  }
}

/* Estilo de la linea del modal */
.open-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0;
  border-radius: 50px;
}

ion-content{
  position: relative;
   #maprofile {
     width: 100%;
     height: 70%;
     opacity: 0;
     transition: opacity 150ms ease-in;
     display: block;
     &.show-map {
       opacity: 1;
     }
   }
   .card-acepted {
     position: relative;
     bottom:30px;
     background-color: white;
     height: 25%;
     border-radius: 14px;
     .circle {
       width: 116px;
       height: 116px;
       border-radius: 100%;
       position: relative;
       bottom: 40px;
       background-color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       .img {
         width: 70px;
         height: 70px;
         border-radius: 100%;
       }
     }
     .card-name {
       justify-content: space-between;
       align-items: center;
       margin: 0px 13px;
       position: relative;
       bottom: 65px;
       p {
        color: #3E4958;
        font-weight: bold;
        margin: 3px 0;
        font-size: 18px;
      }
       .license-plate {
         background-color: #d5dde09a;
         padding: 5px;
         border-radius: 100px;
       }
     }
     .card-name-circle {
       justify-content: flex-end;
       margin: 0px 13px;
       position: relative;
       bottom: 80px;
     }
     .container-acepted-btns {
      position: relative;
      bottom: 80px;
      margin: 0px 13px;
      .btn {
        height:60px;
        --border-radius:15px;
        width: 95%;
        ion-icon{
          font-size: 30px;
        }
      }
     }
   }
 }

ion-fab ion-fab-button {
  background-color: white;
  border-radius: 100%;
}

ion-icon {
  color: rgb(0, 0, 0);
}

.title {
  text-align: center;
}

.principal-container {
  height: 100%;
  position: relative;
}

.map-container {
  height: 100%;
}

ion-grid {
  height: 45%;
  border-radius: 12px 12px 0px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  height: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #3E4958;
}

.price-button {
  height: 29px;
  width: 70px;
  --background: #1069E3;
  --border: 1px solid rgba(151, 173, 182, 0.40);
  --box-shadow: 0px 4px 16px rba(62, 73, 88, 0.2);
  --border-radius: 25px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

ion-button.schedule {
  width: 100%;
  height: 60px;
  --background: #FFFFFF;
  --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
  --border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #4B545A;
}

.price-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: 100%
}

.price-button {
  width: 70px;
  margin-right: 0px;
}


.initial-modal-container {
  height: 5%;    
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 12px 12px 0px 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding-top: 1%;
}

/* Estilos de la linea que cierra el modal */
.close-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0 ;
  border-radius: 50px;
}

 //Estilo de mapa
 #dashboardmap {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.288);
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
  }
}

ion-toolbar {
  --background: transparent;
}

app-principal-header {
  width: 100%;
}
