<app-principal-header *ngIf="user?.role != 'client'" title="Bienvenido a iGO" (openMenu)="openMenu()"></app-principal-header>
<ion-content fullscreen>
  <app-principal-header *ngIf="user?.role == 'client'" title="Bienvenido a iGO" (openMenu)="openMenu()" slot="fixed"></app-principal-header>
  <div class="container" *ngIf="user?.role == 'admin'">
    <div class="container-welcome">
      <p>Bienvenido, Administrador</p>
    </div>
    <ion-card class="card blueTrans">
      <div class="container-title" [routerLink]="['review-transfer']">
        <h1>Transferencias</h1>
      </div>
      <div class="container-icon">
        <ion-icon class="white-icon" name="cash-outline" [routerLink]="['useradmin']"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card green">
      <div class="container-title" [routerLink]="['users/users']">
        <h1>Usuarios</h1>
      </div>
      <div class="container-icon">
        <ion-icon class="white-icon" name="person" [routerLink]="['users/users']"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card blue">
      <div class="container-title" [routerLink]="['users/drivers']">
        <h1>Conductores</h1>
      </div>
      <div class="container-icon">
        <ion-icon class="white-icon" name="car-sport" [routerLink]="['users/drivers']"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="container-title ">
        <h1>Estadistica</h1>
      </div>
      <div class="container-icon">
        <ion-icon class="green-icon" name="stats-chart" [routerLink]="['/stadisticadmin']"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="container-title" [routerLink]="['stops']">
        <h1>Paradas</h1>
      </div>
      <div class="container-icon " [routerLink]="['stops']">
        <ion-icon name="flag" class="blue-icon"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="container-title" [routerLink]="['shipping-parameters']">
        <h1>Parámetros</h1>
      </div>
      <div class="container-icon " [routerLink]="['shipping-parameters']">
        <ion-icon name="cog" class="blue-icon"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="container-title" [routerLink]="['bank-data']">
        <h1>Datos Bancarios</h1>
      </div>
      <div class="container-icon " [routerLink]="['bank-data']">
        <ion-icon name="card-outline" class="blue-icon"></ion-icon>
      </div>
    </ion-card>
  </div>
  <div class="container" *ngIf="user?.role == 'driver'">
    <div class="container-welcome">
      <p>Bienvenido, Conductor</p>
    </div>
    <ion-card class="card green">
      <div class="container-title" routerLink="requests">
        <h1>Solicitudes</h1>
      </div>
      <div class="container-icon">
        <ion-icon name="person" class="white-icon"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card blue" (click)="redirectTo('history')">
      <div class="container-title">
        <h1>Historial</h1>
      </div>
      <div class="container-icon">
        <ion-icon class="green-icon" name="stats-chart"></ion-icon>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="container-title ">
        <h1>Datos Vehiculares</h1>
      </div>
      <div class="container-icon" (click)="redirectTo('edit-vehicle-data')">
        <ion-icon name="car-sport" class="blue-icon"></ion-icon>
      </div>
    </ion-card>
  </div>
  <div *ngIf="user?.role == 'client'" class="principal-container">
    <div class="map-container">
      <div #dashboardmap
      id="dashboardmap"></div>
    </div>
    <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
  </div>
</ion-content>
