<ion-content fullscreen scroll-y="true">
  <div class="relative">
  <ion-row class="container-close-modal">
    <div class="close-modal-line" (click)="alertsService.closeModal()"> 
    </div>
  </ion-row>
  <div id="map"></div>
  <ion-grid>
    <div class="absolute">
      <ion-row>
            <ion-col class="img-container">
              <ion-avatar>
                <img [src]="(travelWithUserData | async)?.user.imagen || '../../../../../../assets/img/user.png'">
              </ion-avatar>
            </ion-col>
        </ion-row>
  </div>
    <ion-row class="second-row">
        <ion-col size="7" class="text" *ngIf="roleCurrentUser === 'driver'">
          Clt. {{ (travelWithUserData | async)?.user.name }}
        </ion-col>
        <ion-col size="7" class="text" *ngIf="roleCurrentUser === 'client'">
          Cdtr. {{ (travelWithUserData | async)?.user.name }}
        </ion-col>
      <ion-col class="details" size="5" *ngIf="roleCurrentUser === 'driver'">
        <div class="price">
          <p class="dollars">{{ (travelWithUserData | async)?.price.dollars }}<p>
          <p class="cents">{{ (travelWithUserData | async)?.price.cents }}<p>
        </div>
        <p>{{ (travelWithUserData | async)?.destinyLocation.address }}</p>
      </ion-col>
      <ion-col size="5" *ngIf="roleCurrentUser === 'client'">
        <p class="ion-text-capitalize vehicle">{{ (travelWithUserData | async)?.user.vehicle.type }}</p>
        <p class="ion-text-capitalize typevehicle">{{ (travelWithUserData | async)?.user.vehicle.brand }}</p>
      </ion-col>
    </ion-row>
    <div *ngIf="user?.role == 'driver'">
      <ion-row>
        <ion-col class="buttons">
          <ion-button (click)="goToChat()" class="btn green ion-text-capitalize">
            Contactar Cliente
          </ion-button>
          <ion-button (click)="endTravel('driver')" class="btn-close">&times;</ion-button> 
        </ion-col>
        <ion-col class="buttons" *ngIf="(travelWithUserData | async)?.status === 'paid'" (click)="startTravel()">
          <ion-button class="btn green ion-text-capitalize">
            Empezar viaje
          </ion-button>
        </ion-col>
        <ion-col class="buttons_class" *ngIf="(travelWithUserData | async)?.status === 'traveling'">
          <ion-button class="red btn" (click)="onNavigate()"> MSG emergencia </ion-button>
          <ion-button class="btn-close" (click)='clickCallNumber("+593"+numbersEmergency[0].numEmergency)'> 📞</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="buttons">
          <ion-button (click)="irA()" class="btn green ion-text-capitalize">
           Navegar Punto A
          </ion-button>
        </ion-col>
        <ion-col class="buttons" (click)="irB()">
          <ion-button class="btn green ion-text-capitalize">
            Navegar Punto B
          </ion-button>
        </ion-col>
        <ion-col class="buttons_class" *ngIf="(travelWithUserData | async)?.status === 'traveling'">
          <ion-button class="red btn" (click)="onNavigate()"> MSG emergencia </ion-button>
          <ion-button class="btn-close" (click)='clickCallNumber("+593"+numbersEmergency[0].numEmergency)'> 📞</ion-button> 
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="user?.role == 'client'">
      <ion-row>
        <ion-col class="buttons">
          <ion-button (click)="goToChat()" class="btn green ion-text-capitalize">
            Contactar Conductor
          </ion-button>
         <ion-button (click)="endTravel('client')" class="btn-close">&times;</ion-button> 
        </ion-col>
        <ion-col class="buttons_class" *ngIf="(travelWithUserData | async)?.status === 'traveling'">
          <ion-button class="red btn" (click)="onNavigate()"> MSG emergencia </ion-button>
          <ion-button class="btn-close" (click)='clickCallNumber("+593"+numbersEmergency[0].numEmergency)'> 📞</ion-button> 
        </ion-col>
      </ion-row>
    </div>
</ion-grid>
</div>
</ion-content>

