//Estilos de los botones boton 
.btn {
    width: 78%;
    height: 60px;
  }
  .btn-close {
    font-size: 30px;
    color: #3E4958;
    width: 18%;
    height: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
    border-radius: 15px;
}
.buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.blue {
  --background:#233ccb;
  --background-activated:#012cb9;
  color:white;
  font-weight: bold;
}

.red {
  --background:#CB2323;
  --background-activated:#CB2323;
  color:white;
  font-weight: bold;
}
.second-row {
	padding-top: 10px;
}
.details {
  left: -20px;
	text-align: right;
  p{
    color: #3E4958;
    font-weight: normal;
  }
  
}
.price {
	display: flex;
	justify-content: flex-end;
	position: relative;
	font-size: 13px;
}
.cents {
	font-size: 13px;
	line-height: 16px;
}
p.dollars, p.cents {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #3E4958;
	font-weight: bold;
}
p.vehicle{
  margin-top: -2%;
  height: 30px;
  left: -14.46%;
  right: 0%;
  top: calc(50% - 24px/2);
  background: #D5DDE0;
  opacity: 0.8;
  border-radius: 100px;
  text-align: center;
}
p.typevehicle{
  text-align: center;
}
.dollars {
	font-size: 26px;
	line-height: 31px;
	position: relative;
	top: -5px;
	font-size: 26px;
}

.text {
	font-weight: bold;
	color: #3E4958;
}

ion-button {
	--background: #FFFFFF;
	--box-shadow: 0px 2px 8px rgb(16, 105, 227, 0.3);
	--border-radius: 15px;
	width: 264px;
	height: 60px;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
  /* Estilo del boton rojo del modal */
  .green {
    --background: #008D36;
    --background-activated:#008D36;
    color:white;
    font-weight: bold;
  }
  .red {
    --background:#CB2323;
    --background-activated:#CB2323;
    color:white;
    font-weight: bold;
  }

  /* Estilo del boton blanco del modal */
  .white {
    --background: white;
    --background-activated:white;
    color:#4B545A;
    font-weight: bold;
    --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
  }
  
  /* Se coloca paddings para ubicar los elementos de mejor manera */
  ion-content {
    --padding-start:5%;
    --padding-end:5%;
  }
  
  /* Estilos de los parrafos del componenete */
  p {
    color: #3E4958;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilos de la linea que cierra el modal */
  .close-modal-line {
    width: 30px;
    height: 5px;
    background-color: #D5DDE0 ;
    border-radius: 50px;
  }
  
  /* Estilos del contenedor de la linea que cierra el modal */
  .container-close-modal {
    padding: 3%;
    justify-content: center;
  }
  

  ion-content{
    --background:rgba(255,255,255,0);
  }


  div.relative {
    position: relative;
    width: 112%;
    height: 100%;
    top: 15%;
    background: rgba( 255, 255, 255, 1.00 );
    right: 6%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    border-radius: 14px 14px 0px 0px;
  } 
  
  .img-container {
    margin-left: auto;
      margin-right: auto;
      display: block;
  }

  div.absolute {
    border: solid #ffff 20px;
    position: absolute;
    top: -35px;
    margin: -4px;
    border-radius: 160px;
    background-color: #ffffff;
  }
  