<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Vehículo</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="container">

    <ion-card>
      <ion-row>
        <ion-col size="4" class="container-img">
          <div *ngIf="(user | async)?.imagen == ''" style="background-image: url('../../../../../assets/img/user.png')" class="img">
          </div>
          <div *ngIf="(user | async)?.imagen != ''" class="img">
            <img src="{{ ((user | async)?.imagen)}}">
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{ (user | async)?.name }}</ion-card-title>
            <ion-card-subtitle>{{ (user | async)?.email }}</ion-card-subtitle>
            
            <div class="container-starts">
              <ion-icon class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-row>
      <p class="title">Descripción del vehículo</p>
    </ion-row>  
    
  
    <ion-row>
      <ion-col size="6">
        <p class="subtitle">PLACA</p>
        <div class="img-license" >
          <img src="{{ ((user | async)?.vehicle.plateImagen)}}">
        </div>
      </ion-col>
      <ion-col size="6">
        <p class="subtitle">LICENCIA</p>
        <div class="img-license" >
          <img src="{{ ((user | async)?.vehicle.licenseImagen)}}">          
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <p class="subtitle">MODELO DEL VEHÍCULO: {{ ((user | async)?.vehicle.brand) | uppercase }}</p>
        <div class="img-license">
          <img src="{{ ((user | async)?.vehicle.imagen)}}">  
        </div>
      </ion-col>
      <ion-col size="12">
        <p class="subtitle">COLOR: {{ (user | async)?.vehicle.color | uppercase }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn green-btn" [routerLink]="['/stadriveradmin/user.uid']" >
         Historial
        </ion-button>
      </ion-col>
  
      <ion-col size="6">
        <ion-button class="btn white" [routerLink]="['../../reviews']">
          Reseñas
         </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-note *ngIf="(user | async)?.vehicle.type === 'vip'" color="success">Vehiculo VIP</ion-note>
        <ion-note *ngIf="(user | async)?.vehicle.type === 'standard'" color="warning">Vehiculo Standard</ion-note>
        <ion-select placeholder="Tipo de Vehículo" (ionChange)="checkTypeVehicle($event)" okText="Aceptar"
                cancelText="Cancelar">
                <ion-select-option  value="vip" name="typeDriver">VIP</ion-select-option>
                <ion-select-option  value="standard" name="typeDriver">Standard</ion-select-option>
              </ion-select>
      </ion-col>
  
    </ion-row>
    <ion-row >
      <ion-col size="6">
        <ion-button class="btn green-btn" (click)="updateTypeVehicleByUid()">
         Guardar Cambios
        </ion-button>
      </ion-col>
  
      <ion-col size="6" *ngIf="(user | async)?.isActive != false">
        <ion-button class="btn red" (click)="unsuscribeUser()">
          Desactivar Usuario
         </ion-button>
      </ion-col>
      <ion-col size="6" *ngIf="(user | async)?.isActive != true">
        <ion-button class="btn white" (click)="suscribeUser()">
          Activar Usuario
         </ion-button>
      </ion-col>
  
    </ion-row>

  </div>

  

</ion-content>
