<ion-content fullscreen>
  <app-header title="Dirección de Destino" slot="fixed"></app-header>
  <div id="map-select-route"></div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>