
  <app-close-modal-button
    (click)="alertsService.closeModal()"
  ></app-close-modal-button>

<ion-content class="ion-padding-horizontal">
  <ion-row>
    <ion-col size="12">
      <p class="title-modal">Seleccionar tipo de pago</p>
    </ion-col>
  </ion-row>
  <app-payment-type text="*** 8295" icon="card-outline" #card1 (click)="select(1)"></app-payment-type>
  <app-payment-type text="Transferencia" #card2 (click)="select(2)" icon="no-icon" ></app-payment-type>
  <app-payment-type text="Efectivo" #card3  (click)="select(3)" icon="cash-outline" ></app-payment-type>

  <ion-row>
    <ion-col size="12">
      <app-button title="Confirmar forma de pago" (pressButton)="confirmPaymentMethod()"></app-button>
    </ion-col>
  </ion-row>
</ion-content>
