<app-header title="Solicitudes"></app-header>
<ion-content class="ion-padding">
  <ion-searchbar
  placeholder="Buscar Solicitud" 
  inputmode="text"
  (ionChange)="onSearchChange($event)"
>
</ion-searchbar>

  
  <app-request-card *ngFor="let travel of oTravels | async"
    [imagen]="travel.client.imagen"
    [title]="travel.client.name" 
    [date]="travel.createdAt.toDate() | date: 'dd/MM/yyyy'" 
    [dollars]="getWholePart(travel.cost)" 
    [cents]="getDecimalPart(travel.cost)" 
    [address]="'DESDE ' + travel.startLocation.address + ' A ' + travel.destinyLocation.address"
    [schedulingDate]="(travel.schedulingDate != 'undefined') ? 'AHORA' : travel.schedulingDate"
    [stop]="travel.startLocation.address"
    [status]="travel.status"
    (accept)="accept(travel.travelId)"
    (toTravel)="toTravel(travel.travelId)">
  </app-request-card>

</ion-content>
