body {
  background: #F7F8F9;
}
  /* Estilo del boton verde del modal */
  .green {
    --background: #008D36;
    --background-activated:#008D36;
    color:white;
    font-weight: bold;
  }
  
  /* Estilo del boton blanco del modal */
  .white {
    --background: white;
    --background-activated:white;
    color:#4B545A;
    font-weight: bold;
    --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
  }
  
  /* Se coloca paddings para ubicar los elementos de mejor manera */
  ion-content {
    --padding-start:5%;
    --padding-end:5%;
  }
  
  /* Estilos de los parrafos del componenete */
  p {
    margin-top: 0px;
    font-size: 15px;
    margin-left: 0px;
  }
  h1 {
    margin-top: 0px;
    font-size: 15px;
    }

  /* Estilos de la linea que cierra el modal */
  .close-modal-line {
    width: 30px;
    height: 5px;
    background-color: #D5DDE0 ;
    border-radius: 50px;
  }
  
  .border {
	border: 1px solid red;
	margin: 0px;
  }

  /* Estilos del contenedor de la linea que cierra el modal */
  .container-close-modal {
    padding: 5%;
    justify-content: center;
  }
  
  .center {
    margin-top: 15px;
    text-align: center;
    font-size: 26px;
  
  }

  .marg{
    margin: 0em auto 0em;
  }
 
  .card-home{
    position: absolute;
    height: 68%;
    left: 2%;
    right: 2%;
    top: 12%;
    .container-figure{
      margin: -5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .circle{
          width: 9px;
          height: 9px;
          border-radius: 100%;
          background-color:#008D36;
          margin-bottom: 4px;
      }
      .line{
          background-color:#ff0000;
          height: 35%;
          width: 1px;

      }
    }
 
    }

.card{
      position: absolute;
      height: 160px;
      top: calc(50% - 182px/2 + 25px);
      background: #FFFFFF;
      border: 1px solid rgba(151, 173, 182, 0.2);
      border-radius: 15px;
      width: 91%;
      display: flex;
      padding: 10px;
  
    .container-figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .circle{
          width: 9px;
          height: 9px;
          border-radius: 100%;
          background-color:#008D36 ;
          margin-bottom: 4px;
      }
      .line{
          background-color:#3E4958;
          height: 50%;
          width: 1px;
      }
  }
  .container-info{
      .line{
          background-color:white;
          height: 30px;
      }
      .line-hors{
          background-color:black;
          height: 50px;
      }

  }
}

.container-info-number{
  .line{
      background-color:white;
      height: 55px;
  }
}
      
ion-icon {
  font-size: 20px;
  color: #3E4958;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
}

.content-tile{
  margin: 160px 0em 0 auto;
  position: absolute;
  height: 60px;
  left: 17px;
  right: 19px;
  top: calc(50% - 60px/2);
  /* Grey 3 */
  background: #F7F8F9;
  border-radius: 15px;
}


ion-card{
    border-radius: 15px;
    padding: 10px;
    margin: 24px 5px;
    .container-price{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: right;
        align-items: center;
        div{
            background-color:#4F4F4F;
            border-radius: 50px;
            width: 72px;
            height: 24px;
            color:#ffff;
            display: flex;
            justify-content: center;
            p{
                margin: 3px 0;
            }
        }
       
    }
    .col-container-img{
        display: flex;
        justify-content: flex-start;
        .container-img{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            p{
                margin:2px 0px ;
            }
        }
    }
}

