<app-principal-header (openMenu)="openMenu()"></app-principal-header>
  <body></body>
  <ion-row>
    <ion-card class="card-home">
      <ion-card-header>
        <div class="center" >
        <img src="../../../../../../assets/img/shapes.png" class="marg">
        <div> 
          <h1>Viaje Completado</h1>
        </div>
      </div>
    </ion-card-header>

    <ion-row>
      <ion-card class="card">
        <ion-col  class="container-info-number">
          <p>11:20</p>
          <div class="line"></div>
          <p>11:02</p>
        </ion-col>
        <ion-col size="2" class="container-figure">
          <div class="circle"></div>
          <div class="line"></div>
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-col>
        <ion-col size="10" class="container-info">
          <p>{{travelData?.destinyLocation.address}}</p>
          <div class="line"></div>
          <p>{{travelData?.startLocation.address}}</p>
        </ion-col>
      </ion-card>
  </ion-row>

      <div class="content-tile">
        <ion-row class="container-info">
          <ion-col size="8" class="container-card">
            <div *ngIf="travelData?.payMethod == 'card'">
              <img src="../../../../../../assets/img/card.svg" alt="">
             <div >
               Tarjeta de Crédito<p>****-****</p>
              </div>
            </div>
            <div *ngIf="travelData?.payMethod == 'cash'">
              <div>
                <img src="../../../../../../assets/img/cash.png" alt="">    
                <p>Pago en Efectivo</p>
               </div>
                    
            </div>
         </ion-col>
         <ion-col size="4" class="container-price">
           <h2> $ {{(travelPrice | async)?.price.dollars}}.{{(travelPrice | async)?.price.cents  }}  <sup></sup></h2>
          </ion-col>
        </ion-row>
      </div> 
    </ion-card>
  </ion-row>
  <ion-row >
    <ion-col size="12">
    <app-button (click)="redirectTo('recommendations/'+travelId)" title="Ok" ></app-button>
  </ion-col>
</ion-row> 
