.initial-modal-container {
  height: 5%;    
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 12px 12px 0px 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding-top: 1%;
}

/* Estilos de la linea que cierra el modal */
.close-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0 ;
  border-radius: 50px;
}
