<ion-content fullscreen>
    <app-principal-header (openMenu)="openMenu()" title="Llegando" slot="fixed"></app-principal-header>
    <div class="map-container">
        <div #travelmap
        id="travelmap"></div>
    </div>
    <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>
