p.dollars, p.cents {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #3E4958;
	font-weight: bold;
}

.dollars {
	font-size: 26px;
	line-height: 31px;
	position: relative;
	top: -5px;
	font-size: 26px;
}

.cents {
	font-size: 13px;
	line-height: 16px;
}

.price {
	display: flex;
	justify-content: flex-end;
	position: relative;
	font-size: 13px;
}

.details > p {
	margin-top: 0px;
	text-align: right;
	color: #3E4958;
	font-weight: normal;
}

ion-button {
	--background: #008D36;
	--box-shadow: 0px 2px 8px rgb(16, 105, 227, 0.3);
	--border-radius: 15px;
	width: 264px;
	height: 60px;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

.buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.close-btn {
	font-size: 40px;
	color: #3E4958;
	margin-left: 32px;
}

.text {
	font-weight: bold;
	color: #3E4958;
}

ion-grid {
	position: absolute;
	bottom: 0px;
}

ion-content {
	position: relative;
}

#map {
	height: 65%;
}

ion-grid {
	height: 35%;
	width: 100%;
}

.img-container {
	position: relative;
}

ion-avatar {
	position: absolute;
	top: -50px;
}

.second-row {
	padding-top: 10px;
}

.map-container {
	height: 100%;
  }
 //Estilo de mapa
 #travelmap {
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.288);
	transition: opacity 150ms ease-in;
	display: block;
	&.show-map{
	  opacity: 1;
	}
  }
app-principal-header {
	width: 100%;
  }
  