<app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="title-modal">Agenda tu viaje</p>
      </ion-col>
    </ion-row>
     <!--<ion-row>
      <ion-col size="12">
        <ion-card class="first-container">
          <div class="date-container">
            <div class="day">
              <ion-label>Día</ion-label>
              <ion-input type="number"></ion-input>
            </div>
            <div class="month">
              <ion-label>Mes</ion-label>
              <ion-input type="number"></ion-input>
            </div>
            <div class="year">
              <ion-label>Año</ion-label>
              <ion-input type="number"></ion-input>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="5">
        <ion-card>
          <div class="passengers-container">
            <ion-label>Ocupantes</ion-label>
            <div class="input-container">
              <ion-input type="number" class="passengers"></ion-input>
            </div>
          </div> 
        </ion-card>
      </ion-col>
      <ion-col size="7" class="timer-container-col ion-no-padding">
        <ion-card class="timer">
          <div class="timer-container"> 
            <div class="icon-container">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="input-container input-left">
              <ion-input class="time"></ion-input>
            </div>
            <div class="points-container">
              <p class="points">&#58;</p>
            </div>
            <div class="input-container input-right">
              <ion-input class="time"></ion-input>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>-->
      <div>
        <div>
          <ion-datetime
            [(ngModel)]="scheduleDate"
            doneText="Aceptar"
            cancelText="Cancelar"
            placeholder="Escoja el día"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
          ></ion-datetime>
        </div>
        <div >
          <ion-datetime
          scheduleHour
            [(ngModel)]="scheduleHour"
            doneText="Aceptar"
            cancelText="Cancelar"
            placeholder="Escoja la hora "
            displayFormat="HH:mm"
          ></ion-datetime>
        </div>
        <ion-col size="12">
          <app-button title="Agendar" (click)="redirectTo('select-stop')"></app-button>
        </ion-col>
      </div>
    <!-- <ion-row>
      <ion-col size="12">
        <app-button title="Agendar" (click)="redirectTo('select-stop-schedule')"></app-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
