ion-card {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	margin-top: 0px;
}

div.day > ion-input, div.month > ion-input {
	background: #F2F2F2;
	box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	text-align: center;
	margin-top: 5px;
	width: 44.44px;
	height: 40px;
}

div.year > ion-input {
	background: #F2F2F2;
	box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	text-align: center;
	margin-top: 5px;
	width: 74px;
	height: 40px;
}

.date-container {
	display: flex;
	justify-content: center;
}

.date-container > div {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.month {
	margin-left: 30px;
	margin-right: 30px;
}

ion-label {
	display: block;
	text-align: center;
}

.passengers {
	width: 64px;
	height: 40px;
	background: #F2F2F2;
	box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	padding-right: 0px;
}

.passengers-container > ion-label {
	margin-top: 10px;
}

.input-container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 18px 18px;
}

.timer {
	margin-left: -10px;
}

.timer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 93px;
}

.horizontal-container {
	height: 25px;
	background: blue;
}

.time {
	width: 43px;
	height: 40px;
	border-radius: 8px;
	box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
	background: #F2F2F2;
	margin-top: 14px;
}

ion-icon {
	color: green;
	width: 35px;
	height: 35px;
	margin-left: 20px;
}

p.points {
	font-size: 25px;
	line-height: 28px;
	font-style: normal;
	color: black;
}

.points-container {
	margin-left: 0px;
	margin-right: 0px;
}

.input-left {
	margin-right: 5px;
}

.input-right {
	margin-left: 5px;
}

.firts-card {
	margin-bottom: 15px;
} 

p.title-modal {
	margin-left: 28px;
}
