<ion-card #card >
  <ion-row>
    <ion-col size="2" class="container-icon">
      <div *ngIf="icon === 'no-icon'" class="oval">

      </div>
      <ion-icon *ngIf="icon !== 'no-icon'" name="{{icon}}"></ion-icon>
    </ion-col>
    <ion-col size="8">
      <p>{{text}}</p>
    </ion-col>
    <ion-col size="2"  class="container-icon">
      <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>
