ion-card{
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    margin: 0px 0px 5% 0px;
    color:#3E4958;
    ion-row{
        justify-content: center;
        align-items: center;
        .container-icon{
            display: flex;
            justify-content: center;
            ion-icon{
                font-size: 25px;
            }
            .arrow{
                color: #97ADB6;
            }
        }
    }
    .oval{
        width: 70%;
        height: 20px;
        background-color:#C4C4C4; 
        border-radius: 10px;
    }
}

.select{
    background: #214E9D;
    color:white;
    ion-icon{
        color: white;
    }
}