<ion-content fullscreen>
  <app-header title="Opciones de Pago" slot="fixed"></app-header>
  <div id="select-payment-type-map"></div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>