/* Estilos de la linea que cierra el modal */
.close-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0 ;
  border-radius: 50px;
  margin-bottom: 0px;
}

/* Estilos del contenedor de la linea que cierra el modal */
.container-close-modal {
  padding-top: 5%; 
  padding-bottom: 0%;
  justify-content: center;
}
