<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Lista de paradas</ion-title>
    </ion-row>
    <ion-icon [routerLink]="['/new-stop']" slot="end" class="margin-right green" name="add-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar inputmode="text" placeholder="Buscar por nombre" (ionChange)="onSearchChange($event)">
  </ion-searchbar>


  <ion-card *ngFor="let stop of stops ">
    <ion-row>
      <ion-col size="4" class="container-img">
        <div style="background-image: url(../../assets/img/stops.png);" class="img">
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-header>
          <ion-card-title>{{ stop.name }}</ion-card-title>
          <ion-card-subtitle>{{ stop.description }}</ion-card-subtitle>
          <ion-card-subtitle>{{ stop.address }}</ion-card-subtitle>
          <ion-card-subtitle>{{ stop.state }}</ion-card-subtitle>
          <div class="container-btn">

            <ion-button (click)="openModal(stop.uid, stop)" class="btn green-btn">
              Editar
            </ion-button>
         
            <ion-button (click)="delete(stop.uid)" class="btn red">
              Eliminar
            </ion-button>

          </div>
        
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
