ion-card {
	height: 163.63px;
	width: 100%;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	margin-left: 0px;
	margin-top: 0px;
}

p {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: normal;
	font-size: 15px;
	font-weight: normal;
	line-height: 136%;
	color: #3E4958;
	position: relative;
	top: -35px;
}

.container {
	position: relative;
}

