.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ion-icon {
	width: 213px;
	height: 184px;
	color: #008D36;
}

p {
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	color: #008D36;
	line-height: 136%;
}
.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}



ion-content,ion-toolbar {
    --background: #ffffff;
}

.style-messenge {
	left: 100%;
	right: -100%;
	top: 0%;
	bottom: 33.33%;
	background: #F7F8F9;
	border-radius: 30px;
	border: solid #F7F8F9 1em;
}

.style-messenge-send {
	background: #008D36;
	border-radius: 30px 0px 30px 30px;	
	border: solid #008D36 1em;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}
 
.my-message {
	background: #008D36;
    color: #fff;
    padding: 10px !important;
    /* border-radius: 1pc; */
    border-radius: 20px 0px 20px 20px;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}
 
.other-message {
	background: #F7F8F9;
	color: #3E4958;
	padding: 10px !important;
    /* border-radius: 1pc; */
	border-radius: 20px 20px 20px 0px;
	margin-bottom: 4px !important;
    white-space: pre-wrap;
}
 
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}

