<app-header  title="{{ (user | async)?.name }}"></app-header>

   <!-- <ion-content class="ion-padding">
    <div class="container">
      <div class="chat-container">
        <ion-icon name="chatbubbles"></ion-icon>
        <p>No hay mensajes aun</p>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="light">
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500">
          </ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" fill="clear" color="primary" class="msg-btn">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>  -->
  
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" class="message"
        [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
        <span>{{ message.msg }}</span>
        <div class="time"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


