.container-inputs-vehicle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input-ionItem {
    --background: #F7F8F9;
    --highlight-color-focused: #008D36;
    --highlight-color-valid: #008D36;
    border: 0.5px solid #D5DDE0;
    border-radius: 15px;
    margin-top: 3%;
  }

  .file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
  }

}

//Estilos de boton subir img
.btn-subir {
  background-color: #008D36;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 5%;
  font-size: 25px;
}

.container-img{
    display: flex;
    justify-content: center;
}