
<app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button>
<ion-content class="ion-padding-horizontal">
  <ion-row>
    <ion-col size="12">
      <p class="title-modal"> Total a Transferir: $ {{(travelPrice | async)?.price.dollars}}.{{(travelPrice | async)?.price.cents}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="container-inputs-vehicle">
        <ion-item  class="input-ionItem" style="width: 75%">
          <ion-input type="text" [(ngModel)]="voucherImgText"  disabled="true"></ion-input>
        </ion-item>
        <div class="container-icon">
          <ion-item lines="none">
            <ion-input type="file" accept="image/*" id="file-input-license-imagen" class="file-input"
              (change)="changeFileImagen($event)" ></ion-input>
            <button class="btn-subir">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </button>
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="container-img">
    <img src="{{voucherImg}}" alt="">
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <app-button title="Confirmar forma de pago" (pressButton)="goToTravelDetails('travel-details')"></app-button>
    </ion-col>
  </ion-row>
 <app-bank-account-card 
  [accountNumber]="getbankParameters.accountNumber"
  [email]="getbankParameters.email"
  [nameBank]="getbankParameters.nameBank"
  [nameOwner]="getbankParameters.nameOwner"
  [typeAccount]="getbankParameters.typeAccount"
  ></app-bank-account-card> 
</ion-content>
