<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Transferencias</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-searchbar inputmode="text" placeholder="Buscar por  nombre" (ionChange)="onSearchChange($event)">
    </ion-searchbar>
    <ion-card *ngFor="let travel of travels | async | filter:searchText:'status'">
      <ion-row [routerLink]="['../confirm-transfers/' + travel.travelId]">
        <ion-col size="4" class="container-img">
          <div *ngIf="travel.client.imagen != ''" style="background-image: url({{ travel.client.imagen }});" class="img">
          </div>
          <div *ngIf="travel.client.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{travel.client.name}}</ion-card-title>
            <ion-card-subtitle>{{travel.startLocation.address }}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
