<ion-content fullscreen>
  <app-header title="Vehiculo" slot="fixed"></app-header>
  <div id="map-select-vehicle-page"></div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>  
</ion-content>
