<ion-card>
  <div class="container">
    <img [src]="imagen">
    <div class="data-card">
      <h2 class="title">{{ title }}</h2> 
      <p class="subtitle">DESDE {{ date }}</p>
      <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
    </div> 
    <div class="price">
      <p class="dollars">{{ dollars }}<p>
      <p class="cents">{{ cents }}<p>
    </div>
  </div>
  <div class="details">
    <div class="description">
      <p class="text address ion-text-uppercase">{{ address }}</p>
      <p class="text date">{{ schedulingDate }}</p>
      <p class="text stop ion-text-uppercase">{{ stop }}</p>
      <p class="space-card"></p>
    </div>
    <div class="button-container">
      <ion-button *ngIf="status === 'pending'" class="button ion-text-capitalize" (click)="accept.emit()">Aceptar</ion-button>
      <ion-button *ngIf="status === 'waiting_payment' || status === 'reject'" class="accepted-button ion-text-capitalize" (click)="toTravel.emit()">Esperando pago</ion-button>
      <ion-button *ngIf="status === 'paid'" class="waiting-driver-button ion-text-capitalize" (click)="toTravel.emit()">Ir al viaje</ion-button>
    </div>
  </div>
</ion-card>
