.container {
	display: flex;
	position: relative;
}

img {
	width: 82px;
	height: 80px;
}

.data-card {
	margin-left: 23px;
}

.title {
	font-weight: bold;
	line-height: 28px;
	font-size: 17px;
	color: #333333;
	margin-top: 5px;
	margin-bottom: 0px;
}

.subtitle {
	font-weight: 500;
	font-size: 11px;
	color: #3E4958;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.stars {
	ion-icon {
		color: #008D36;
	}
}

.price {
	display: flex;
	position: absolute;
	right: 22px;
}

.dollars {
	margin-top: 5px;
	font-size: 26px;
	line-height: 31px;
}

.cents {
	font-size: 13px;
	line-height: 16px;
	margin-top: 5px;
}

.text {
	font-weight: 500;
	font-size: 11px;
	line-height: 20px;
	margin-left: 20px;
}

.date, .stop {
	margin-top: 0px;
}

.date, .address {
	margin-bottom: 0px;
}

.details, .button {
	display: flex;
}

.container-button {
	position: relative;
}

.button {
	position: absolute;
	bottom: 16px;
	right: 13px;
	--border-radius: 100px;
	--box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
	--background: #008D36;
    left: 5%;
}

.accepted-button {
	position: absolute;
	bottom: 16px;
	right: 13px;
	--border-radius: 100px;
	--box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
	--background: #214E9D ;
}

.waiting-driver-button {
	position: absolute;
	bottom: 16px;
	right: 13px;
	--border-radius: 100px;
	--box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
	--background: #33D4FF ;
}

ion-card {
	margin-bottom: 50px;
	
}

.space-card{
	margin-bottom: 30%;
}
