.welcome-container {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-left: 16px;
	margin-top: 50px;
	p {
		color: #3E4958;
		font-size: 20px;
		font-weight: bold;
	}
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
