<app-header title="Bienvenido a iGO"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div class="container">
          <div class="welcome-container">
            <p>Bienvenido, Persona</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-request-button title="Solicitudes Ahora" iconName="person" backgroundColorCard="green" [routerLink]="['requests']"></app-request-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-request-button title="Solicitudes Agendadas" iconName="car" backgroundColorCard="blue"></app-request-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
