
.container {
  display: flex;
  justify-content: center;

  .container-inputs {
    margin-bottom: 3%;
    padding: 10px;
    width: 90%;
    text-align: left;
  
    ion-select {
      width: 100%;
      justify-content: center;
    }
  
    
  .label {
    color: #3E4958;
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
    line-height: 20px;
  }

    .input-ionItem {
      --background: #F7F8F9;
      --highlight-color-focused: #008D36;
      --highlight-color-valid: #008D36;
      border: 0.5px solid #D5DDE0;
      border-radius: 15px;
      margin-top: 3%;
    }
    
  }

  .container-select{
    text-align: left;
    padding: 10px;
    width: 90%;
    margin: 0px;
  }
}
  
  /* Estilo del boton */
.container-btn {
    display: flex;
    justify-content: center;
  }
  .error {
    color: tomato;
    font-size: 15px;
    margin-left: 16px;
}
.margin{
    margin-top: 5%;
}

.btn {
    margin-top: 10%;
    width: 78%;
    height: 60px;
  }
.green {
    --background: #008D36;
    --background-activated:#008D36;
    color:white;
    font-weight: bold;
}