<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Parámetros iGo</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="margin"> 
    <form [formGroup]="form" (ngSubmit)="update()">
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Kilómetros</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="baseKilometers"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.baseKilometers.errors && form.controls.baseKilometers.touched">
        El campo kilómetros es requerido.
      </div>     
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Costo por kilómetros de inicio</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="baseCost"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div class="error" *ngIf="form.controls.baseCost.errors && form.controls.baseCost.touched">
        El campo costo por kilómetros de inicio es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Costo por kilómetro extra</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="extraKilometerCost"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.extraKilometerCost.errors && form.controls.extraKilometerCost.touched">
        El campo costo por kilómetro extra es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Porcentaje adicional VIP</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="extraVip"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div class="error" *ngIf="form.controls.extraVip.errors && form.controls.extraVip.touched">
        El campo porcentaje adicional VIP es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Número WhatsApp</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="numWhatsApp"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.numWhatsApp.errors && form.controls.numWhatsApp.touched">
        El campo Número WhatsApp es requerido.
      </div> 
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Mensaje WhatsApp</ion-label>
          <ion-item class="input-ionItem">
            <ion-textarea type="string" formControlName="messageWhatsApp"></ion-textarea>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.messageWhatsApp.errors && form.controls.messageWhatsApp.touched">
        El campo Mensaje WhatsApp es requerido.
      </div> 
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Número Emergencia</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="numEmergency"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.numEmergency.errors && form.controls.numEmergency.touched">
        El campo Número Emergencia es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Número Administrador</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="numCall"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.numCall.errors && form.controls.numCall.touched">
        El campo Número Administrador es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">Mensaje Administrador</ion-label>
          <ion-item class="input-ionItem">
            <ion-textarea type="string" formControlName="messageCall"></ion-textarea>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.messageCall.errors && form.controls.messageCall.touched">
        El campo Mensaje Administrador es requerido.
      </div> 

      <ion-row class="container-btn">
        <ion-button class="btn green" (click)="update()" [disabled]="!form.valid"> Actualizar </ion-button>
      </ion-row>
    </form>
  </div>
</ion-content>
