<ion-item (click)="chooseStop.emit()">
  <ion-thumbnail slot="start">
    <div [class]="classes">
      <ion-icon name="location-sharp"></ion-icon>
    </div>
  </ion-thumbnail>
  <ion-label>
    <h2 class="stop">{{ name }}</h2>
    <h2 class="stop">{{ city }}</h2>
    <p class="city ion-text-justify ion-text-wrap ">{{ description }}</p>
  </ion-label>
</ion-item>
