.stop {
	height: 18px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 136%;
	color: #3E4958;
}

ion-thumbnail {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: -14px;
}

.icon-container {
	border-radius: 100%;
	display: inline;
	justify-content: center;
	align-items: center;
	padding: 3px 5px;
}

ion-item {
	--padding-start: 0px;
}

ion-item:hover {
	--padding-start: 0px;
	--background: #F2F2F2;
}

.green-item {
	background-color: #008D36; 	
}

.white-item {
	background-color: grey;
}

ion-icon {
	color: white;
}
