<ion-content [ngClass]="{ blue: ((travel | async)?.status === 'waiting_payment'), green: ((travel | async)?.status === 'paid'), red: ((travel | async)?.status === 'reject')  }">
  <ion-row *ngIf="(travel | async)?.status === 'waiting_payment' || (travel | async)?.status === 'reject'" class="close" (click)="goToMethodPayment()"> 
    <div class="circle-close">
      <ion-icon  name="close-outline"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="search"> 
    <ion-col size="12">
      <div class="circle" #circle>
        <div class="circle-small" #circleSmall>
          <div class="circle-very-small" #circleVerySmall>
          </div>
        </div>
      </div>
      <img class="img-car" src="../../../../../assets/img/search-car.png" alt="">
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(travel | async)?.status === 'reject'" class="close-next"  (click)="onNavigate()">
    <div class="circle-whatsapp">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
  </ion-row>
  
  <ion-row *ngIf="(travel | async)?.status === 'paid'" class="close-check" (click)="goToTravel()"> 
    <div class="circle-close">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="search-text">
    <p *ngIf="(travel | async)?.status === 'waiting_payment'">Validando boucher...</p>
    <p *ngIf="(travel | async)?.status === 'paid'">¡ Vaucher validado !</p>
    <p *ngIf="(travel | async)?.status === 'reject'" id="reject">Vaucher rechazado, comuníquese con administración</p>
  </ion-row>
</ion-content>
