
<app-close-modal-button (closeModal)="alertsService.closeModal()"></app-close-modal-button>

<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="title-modal">Elige tu parada de Origen</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      <app-address-input *ngIf="travel?.vehicleType == 'VIP'" [disabled]="inputDisabled" [placeholder]="inputPlaceholder" [(ngModel)]="addressStop"></app-address-input>
      <!--<ion-input type="text" id="autocomplete-input"></ion-input>-->
      <!--<input type="text" id="autocomplete-input" />-->
      <ion-searchbar *ngIf="travel?.vehicleType == 'Standard'" class="searchbar" inputmode="text" placeholder="Buscar parada" (ionChange)="onSearchChange($event)">
      </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="travel?.vehicleType == 'Standard'">
      <ion-col size="12">
        <p class="subtitle-modal">PARADAS CERCANAS</p>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="travel?.vehicleType == 'Standard'">
      <ion-row *ngFor="let stop of stops | async | filter:searchText">
        <ion-col size="12">
          <app-item-map city="{{ stop.city }}" classes="icon-container green-item" name="{{ stop.name }}" description="{{ stop.description }}" (chooseStop)="chooseStop(stop)"></app-item-map>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="12">
        <app-button title="Seleccionar ubicacion" (pressButton)="selectUbication('select-destination')"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
