#map {
	height: 40%;
}

.data-container {
	height: 60%;
	border-radius: 0px 20px 0px 0px;
}

.avatar-container {
	border-radius: 50%;
	width: 116px;
	height: 116px;
	position: relative;
	top: -60px;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

ion-avatar { 
	margin: auto;
	vertical-align: center;
	width: 75px;
	height: 75px;
}

h2 {
	margin-top: 10px;
	margin-bottom: 23px;
}

.data-details {
	position: relative;
	top: -70px;
	padding-left: 24px;
	padding-right: 24px;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #3E4958;
}

ion-icon {
	color: #214E9D;
	border-radius: 2px;
	width: 36px;
	height: 36px;
}

.stars { 
	display: flex;
	justify-content: center;
}

.no-color {
	color: #D5DDE0;
}

p {
	font-weight: normal;
	font-size: 15px;
	color: #3E4958;
	text-align: center;
}

ion-textarea {
	border: 0.5px solid #D5DDE0;
	border-radius: 15px;
	background: #F7F8F9;
	height: 134px;
	width: 310px;
}

ion-button {
	width: 310px;
	height: 60px;
	--background: #008D36;
	--box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
	--border-radius: 15px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	margin-top: 24px;
	margin-bottom: 34px;
}

ion-content{
    --background:rgba(255,255,255,0);
  }
  
.map-container {
	height: 100%;
  }
 //Estilo de mapa
 #recommendations-map {
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.288);
	transition: opacity 150ms ease-in;
	display: block;
	&.show-map{
	  opacity: 1;
	}
  }
app-principal-header {
	width: 100%;
  } 