<ion-content fullscreen>
    <app-principal-header (openMenu)="openMenu()" title="Recomendaciones" slot="fixed"></app-principal-header>
    <div class="map-container">
        <div #recommendations
        id="recommendations-map"></div>
    </div>
    <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>
