
<app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button>

<ion-content class="ion-padding-horizontal">
  <ion-row >
    <ion-col size="12">
      <p class="title-modal">Ruta de viaje</p>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-card class="card">
        <ion-col size="2" class="container-figure">
          <div class="circle"></div>
          <div class="line"></div>
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-col>
        <ion-col size="10" class="container-info">
          <p>{{ travel?.startLocation.address }}</p>
          <div class="line"></div>
          <p>{{ travel?.destinyLocation.address }}</p>
        </ion-col>
      </ion-card>
  </ion-row>
  
  <ion-row>
    <ion-col size="12">
      <app-button title="Confirmar Ruta" (pressButton)="confirmRoute('travel-details')"></app-button>
    </ion-col>
  </ion-row>
</ion-content>
