.card{
    width: 110%;
    display: flex;
    border-radius: 15px;
    margin: 10% 0px 10% 0px;
    padding: 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    .container-figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .circle{
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background-color:#214E9D ;
            margin-bottom: 4px;
        }
        .line{
            background-color:#3E4958;
            height: 35%;
            width: 1px;

        }
    }
    .container-info{
        .line{
            background-color:#d5dde0b4;
            height: 2px;
        }
    }
}
