<ion-content fullscreen [scrollEvents]="true">
  <app-header title="Elije tu parada de Origen" slot="fixed"></app-header>
  <div id="map-select-stop-page"></div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>
