

<ion-content>
    <h4 align="center">Iniciar Sesión</h4>
    <img class="img-signIn" src="../../../../../assets/img/igoLogo.png" />
    <div class="container-inputs">
        <ion-label class="label" position="stacked">EMAIL</ion-label>
        <ion-item>            
            <ion-input name="user" type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>        
    </div>
    <div class="container-inputs">
        <ion-label class="label" position="stacked">CONTRASEÑA</ion-label>
        <ion-item>            
            <ion-input [type]="inputType" name="password" [(ngModel)]="user.password"></ion-input>
            <ion-icon [name]="iconName" item-right (click)="showHiddenPassword()"></ion-icon>
        </ion-item>        
    </div>
    <button class="my_buttton" (click)="signIn(user.email, user.password)">Iniciar Sesion</button>
    
    
    <hr class="solid">
    <h5 align="center">O prueba También con</h5>

    <ion-row>
        <ion-col>
            <img class="img-fb" src="../../../../../assets/img/fb.png" (click)="authenticationService.facebookAuth()">
        </ion-col>
        <ion-col>
            <img class="img-fb" src="../../../../../assets/img/google.png"  (click)="authenticationService.googleAuth()">
        </ion-col>
    </ion-row>

    <div class="container-btn">
        No tienes una cuenta ?<button class="btn-registro" (click)="goToRegister()">Registrarse</button>
    </div>

</ion-content>
