.img-signIn{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    border-radius: 50%;
    background-color: #fff;
  }

  h4 {
    color: #3E4958;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10%;

  }

  
.btn-registro {
  position: absolute;
  color: #008D36;
  background-color: rgba($color: #ffffff, $alpha: 0);
  font-size: 17px;
}

.container-inputs {
  margin-bottom:0%;
  padding: 10px;
}


ion-item {
    --background: #F2F2F2;
    --highlight-color-focused:#008D36;
    --highlight-color-valid:#008D36;
    border: 0.5px solid #D5DDE0;
    border-radius: 15px;
    margin-top: 3%;
}

.label {
  color: #3E4958;
  font-size: 14px;
  opacity: 0.8;
  font-weight: bold;
  padding-left: 10px;
}

h5{
  color:#3E4958;
}

.my_buttton{
  /* Green */
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background: #008D36;
  height: 60px;
  width: 80%;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5%;
}

.container-btn{
  padding-top: 10%;
  margin-left: 15%;
  color: #97ADB6;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
}
h5 {
  color: #3E4958;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
}

.img-fb{  
  margin-top: 0%;
}
ion-row{
  margin-left: 20%;
}