<app-close-modal-button (closeModal)="alertsService.closeModal()"></app-close-modal-button>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="title-modal">Ruta de viaje</p>
      </ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col size="12" class="ion-no-padding ion-no-margin border">
        <app-travel-card></app-travel-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-button title="Comfirmar ruta" (pressButton)="redirectTo('nextPage')"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
