<ion-content fullscreen>
  <app-header title="Detalles del viaje" slot="fixed"></app-header>
  <div id="map-travel-detail"></div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>  
</ion-content>