<ion-content>
  <app-principal-header title="Agenda tu viaje" (openMenu)="openMenu()" slot="fixed"></app-principal-header>
  <div class="map-container">
    <div #schedulemap
    id="schedulemap"></div>
  </div>
  <app-initial-modal-button (openModal)="openModal()"></app-initial-modal-button>
</ion-content>
