
/* Estilo del contenedor de la linea que cierra el modal */
.open-modal {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px 14px 0px 0px;
  ion-row {
    display: flex;
    justify-content: center;
  }
}

/* Estilo de la linea del modal */
.open-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0;
  border-radius: 50px;
}


.map-container {
  height: 100%;
}


/* Estilos de la linea que cierra el modal */
.close-modal-line {
  width: 30px;
  height: 5px;
  background-color: #D5DDE0 ;
  border-radius: 50px;
}

 //Estilo de mapa
 #schedulemap {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.288);
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
  }
}

ion-toolbar {
  --background: transparent;
}

app-principal-header {
  width: 100%;
}
