//Estilos del boton de salir
.btn {
    /* Green */
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
   background: #008D36;
   height: 60px;
   width: 80%;
   box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
   border-radius: 15px;
   color: #ffffff;
   font-weight: bold;
   margin-bottom: 5%;
 }
 .container-btn{
     padding-top: 10%;
     margin-left: 15%;
   }
 
 //Estilos de la imagen
 .img-logout {
     height: 400px;
     margin-bottom: 15%;
     margin-top: 15%;
 }
 
 //Estilos del texto para salir
 h1{
     font-weight: 600;
 }
 
 //Padding al contenedor
 
 ion-content{
     --padding-start:30px;
     --padding-end:30px;
     --padding-top:30px;
 }