
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"  menu="main menu"></ion-menu-button>
    <ion-title>Saliendo del Sistema</ion-title>
    <ion-back-button defaultHref="home"  slot="start"></ion-back-button>

  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-text  >
  <div class="ion-text-center">
    <h1>¿Realmente quieres irte?</h1>
  </div>
  </ion-text>    
  <ion-img src="assets/img/bye.png" class="img-logout"></ion-img>
  <ion-row>
    <ion-col>
      <div>
        <button class="btn" (click)="authenticationService.signOut()">
          Salir
        </button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
