<ion-card [class]="backgroundColorCard">
  <div class="title-container">
    <h1>{{ title }}</h1>
  </div>
  <div class="icon-container">
    <ion-icon [name]="iconName"></ion-icon>
  </div>
</ion-card>
