ion-card {
	display: flex;
	justify-content: space-between;
	height: 100px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	.title-container {
		width: 50%;
		h1 {
			font-weight: bold;
			font-size: 19px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 10%;
	}
	.icon-container {
		width: 50%;
		display: flex;
		align-items: center;
		padding-left: 10px;
		display: relative;
		ion-icon {
			font-size: 50px;
			position: absolute;
			right: 10%;
		}
	}
	color: white;
}

.green {
	--background: #008D36;
}

.blue {
	--background: #214E9D;
}

.data-container {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
}
