ion-content{
    --background:rgba(255,255,255,0);
  }
div.relative {
    position: relative;
    width: 100%;
    height: 100%;
    top: 8%;
    background: rgba( 255, 255, 255, 1.00 );
    right: 0%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    border-radius: 14px 14px 0px 0px;
  } 

div.absolute {
  border: solid #ffff 20px;
  position: absolute;
  top: -35px;
  margin-left: -3%;
  margin: -4px;
  border-radius: 160px;
  background-color: #ffffff;
}

#map {
}

.rating {

  ion-col {
    display: flex;
    justify-content: space-around;

    ion-icon {
      font-size: 45px;
    }
  }
}

.blue-star {
  color: #214E9D;
}

.white-star {
  color: rgba($color: #000000, $alpha: 0.2);
}


.data-container {
	height: 60%;
	border-radius: 0px 20px 0px 0px;
}

.avatar-container {
	border-radius: 50%;
	top: -60px;
	vertical-align: middle;
	display: flex;
	align-items: center;
}


ion-avatar { 
	margin: auto;
	vertical-align: center;
	width: 75px;
	height: 75px;
}

h2 {

	margin-top: 10px;
	margin-bottom: 23px;
}

  /* Estilos de la linea que cierra el modal */
  .close-modal-line {
    width: 30px;
    height: 5px;
    background-color: #D5DDE0 ;
    border-radius: 50px;
  }
  
  /* Estilos del contenedor de la linea que cierra el modal */
  .container-close-modal {
    padding: 3%;
    justify-content: center;
  }
.data-details {
  margin-top: 2em;
	position: relative;
	top: 0px;
	padding-left: 24px;
	padding-right: 24px;
}

h2 {
	  margin-bottom: 6%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #3E4958;
}

ion-icon {
	color: #214E9D;
	border-radius: 2px;
	width: 36px;
	height: 36px;
}

.stars { 
	display: flex;
	justify-content: center;
}

.no-color {
	color: #D5DDE0;
}

p {
	font-weight: normal;
	font-size: 15px;
	color: #3E4958;
	text-align: center;
}

ion-textarea {
	border: 0.5px solid #D5DDE0;
	border-radius: 15px;
	background: #F7F8F9;
	height: 180px;
  width: 100%;
}

ion-button {
    width: 40em;	
    height: 60px;
	--background: #008D36;
	--box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
	--border-radius: 15px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	margin-top: 24px;
	margin-bottom: 34px;
}
//Estilos de los botones boton 
.btn {
    width: 100%;
    height: 60px;
  }
  