<ion-content scrollY="true">

  <div class="relative">
    <ion-row class="container-close-modal">
      <div class="close-modal-line" (click)="alertsService.closeModal()">
      </div>
    </ion-row>
    <div id="map"></div>
    <div class="data-container">
      <div class="absolute">
        <div class="avatar-container">
          <ion-avatar *ngIf="driver?.imagen == ''">
            <img src="../../../../../assets/img/user.png">
          </ion-avatar>
        </div>
        <div class="avatar-container">
          <ion-avatar *ngIf="driver?.imagen != ''">
            <img src="{{driver?.imagen}}">
          </ion-avatar>
        </div>
      </div>
        <div class="data-details">
          <h2>Conductor : {{driver?.name}}</h2>
          <div class="stars">
            <ion-row class="rating">
              <h2>Califica nuestro servicio</h2>
              <ion-col size="12">
                <ion-icon class="white-star" (click)="addStar(1)" #star1 name="star"></ion-icon>
                <ion-icon class="white-star" (click)="addStar(2)" #star2 name="star"></ion-icon>
                <ion-icon class="white-star" (click)="addStar(3)" #star3 name="star"></ion-icon>
                <ion-icon class="white-star" (click)="addStar(4)" #star4 name="star"></ion-icon>
                <ion-icon class="white-star" (click)="addStar(5)" #star5 name="star"></ion-icon>
              </ion-col>
            </ion-row>
          </div>
          <p></p>
          <ion-textarea formControlName="comment" required rows="14" ngDefaultControl autoGrow="true"
            placeholder="Escribe tu comentario aquí..."></ion-textarea>
          <div class="error" *ngIf="form.controls.commentary.errors && form.controls.commentary.touched"></div>
          <ion-button class="btn ion-text-capitalize" (click)="rateTravel()">Calificar</ion-button>
        </div>
    </div>
  </div>

</ion-content>
