<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="dashboard/stops"  (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Editar parada</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content >

  <!-- fab placed to the top end -->
 <!--  <ion-fab vertical="top" horizontal="start" slot="fixed" defaultHref="/home">
    <ion-fab-button color="#fffff" menu="main menu">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-back-button slot="start" defaultHref="/liststops"></ion-back-button>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <div class="map" #divMap></div>


  <div class="container">
    <ion-row class="container-title">
      <h5>Editar nueva parada</h5>
    </ion-row>
    <ion-row class="container-all-inputs">

      <div class="container-inputs">
        <ion-label class="label">DIRECCIÓN*</ion-label>
        <ion-input class="input-ionItem" [(ngModel)]="stop.address" id="stop_address" autocomplete="off" (keyup)="keyUpHandler()"></ion-input>

      </div>
      <div class="container-inputs">
        <ion-label class="label">NOMBRE*</ion-label>
        <ion-item class="input-ionItem">
          <ion-input type="text" [(ngModel)]="stop.name"></ion-input>
        </ion-item>
      </div>
      <div class="container-inputs">
        <ion-label class="label">DESCRIPCIÓN*</ion-label>
        <ion-item class="input-ionItem">
          <ion-textarea [(ngModel)]="stop.description"></ion-textarea>
        </ion-item>
      </div>
    </ion-row>
    <ion-row class="container-btn">
      <ion-button class="btn" (click)="update()"> Actualizar Parada </ion-button>
    </ion-row>
  </div>
