/* Estilos del header */
ion-toolbar {
    ion-row {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
  
      ion-title {
        font-size: 20px;
        font-weight: bold;
        --color: #3E4958;
        text-align: center;
  
      }
    }
  }
  
  .map {
      width: 100%;
      height: 60%;
      &.show-map {
        opacity: 1;
      }
    }
    
    
    /* Contenedor del ingreso de la información de la parada */
    .container {
      height: 50%;
      width: 100%;
      z-index: 2;
      position: relative;
      bottom: 30px;
      border-radius: 9px 9px 0px 0px;
      margin-top: 60px;
    }
    
    /* Contenedor del titulo */
    .container-title {
      margin-left: 10%;
      margin-bottom: 2%;
    
      h5 {
        font-weight: bold;
        font-size: 18px;
        color: #3E4958;
      }
    }
    
    .container-all-inputs {
      display: flex;
      justify-content: center;
    
      .container-inputs {
        margin-bottom: 3%;
        padding: 10px;
        width: 90%;
        text-align: left;
      
        ion-select {
          width: 100%;
          justify-content: center;
        }
      }
    
      .input-ionItem {
        --background: #F7F8F9;
        --highlight-color-focused: #008D36;
        --highlight-color-valid: #008D36;
        border: 0.5px solid #D5DDE0;
        border-radius: 15px;
        margin-top: 3%;
      }
    
    }
    
    
    
    
    
    /* Estilos del boton de agregar una nueva parada */
    .container-btn {
      justify-content: center;
    
      .btn {
        width: 75%;
        height: 60px;
        --background: #008D36;
        --border-radius: 15px;
        --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
        color: white;
        font-size: 17px;
      }
    
    
    }
    