<ion-app>
  <ion-menu type="overlay" side="start" autoHide="true"  menuId="principal" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-row class="container-img margin-left">
          <div *ngIf="(user | async)?.imagen == ''" class="img" style="background-image: url('../assets/img/user.png')">
          </div>
          <div *ngIf="(user | async)?.imagen != ''" class="img" style="background-image: url({{ (user | async)?.imagen }})">
          </div>
          <ion-icon routerLink="dashboard/profile" (click)="showHiddenMenu()" name="pencil-outline"></ion-icon>
        </ion-row>
        <ion-row class="margin-left">
          <p>{{ (user | async)?.name }}</p>
        </ion-row>
        <ion-row class="margin-left">
          <p>{{ (user | async)?.email }}</p>
        </ion-row>
      </ion-toolbar>
    </ion-header>

    <ion-content>
     <div class="container">
      <ion-list class="margin-left">
  
        <ion-item lines="none black" (click)="goToHome()">Home</ion-item>
        <ion-item lines="none black" >Mi Agenda</ion-item>
        <ion-item lines="none black" (click)="goToHistory()" >Historial</ion-item>
        <ion-item lines="none black" (click)="openLink('https://nousclic.com/')">
          <img src="../assets/img/logo_nous.png" alt="">
        </ion-item>

        <ion-item class="contac" lines="none black" (click)="onNavigate()">
          <img src="../assets/img/ico-whatsapp.png" alt="">
        </ion-item>
        <ion-item class="contac" lines="none black" (click)='clickCallNumber("+593"+numbersEmergency[0].numCall)'>
          <img src="../assets/img/call.png" alt="">
        </ion-item>
        
        <ion-item class="exit green" routerLink="/logout" lines="none" (click)="showHiddenMenu()">Salir</ion-item>
      </ion-list>
     
     </div>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
