ion-toolbar {
    height: 200px;
    --background: #008D36;
    --color: white;
  
    ion-row {
      p {
        margin: 5px 0px;
      }
    }
  }
  
  /* Contenedor de imagen del usuario */
  
  .container-img{
      margin-top: 14%;
      ion-icon{
          font-size: 25px;
      }
      .img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        
  }
  
  .margin-left{
      margin-left: 10%;
  }
  
  .container {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      ion-item{
          margin-bottom: 7%;
          font-weight: bold;
      }
  }
  
  .exit{
      margin-top: 50%;
      text-decoration: underline;
      
  }
  
  .black{
      --color:#3E4958;
  }
  
  .green{
      --color:#008D36;
  }
