<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-buttons>
        <ion-back-button defaultHref="../"></ion-back-button>
      </ion-buttons>
      <div class="title-container">
        <ion-title>{{ title }}</ion-title>
      </div>
    </ion-row>    
  </ion-toolbar>  
</ion-header>
