<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>{{ titlePage }}</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar
      placeholder="Buscar por nombre" 
      inputmode="text"
      (ionChange)="onSearchChange($event)"
    >
    </ion-searchbar>

    <ion-card *ngFor="let user of users | async | filter:searchText">

      <ion-row *ngIf="user.role == 'client'" [routerLink]="['../../user-detail/' + user.userId]">
        <ion-col size="4" class="container-img">
          <div *ngIf="user.imagen != ''" style="background-image: url({{ user.imagen }});" class="img">
          </div>
          <div *ngIf="user.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{ user.name }}</ion-card-title>
            <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="user.role == 'driver'" [routerLink]="['../../driver-detail/' + user.userId]">
        <ion-col size="4" class="container-img">
          <div *ngIf="user.imagen != ''" style="background-image: url({{ user.imagen }});" class="img">
          </div>
          <div *ngIf="user.imagen == ''" style="background-image: url('../../../../../assets/img/user.png');" class="img">
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{ user.name }}</ion-card-title>
            <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
            <div class="container-starts">
              <ion-icon class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>

