/* Estilos del header */
ion-toolbar {
    ion-row {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 85%;
  
      ion-title {
        font-size: 20px;
        font-weight: bold;
        --color: #3E4958;
        text-align: center;
  
      }

    }
  }
  
  /* Estilo para colocar un margen izquierdo a cualquier elemento */
  .margin-left {
    margin-left: 5%;
  }


  /* Estilos de la barra de busqueda */
ion-searchbar {
    --box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
    --border-radius: 15px;
    --icon-color: #008D36;
      --background:#ffff;
  }
  
  /* Contenedor de todas las tarjetas de navegación */
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      margin-top: 10%; 
    
  }
  
  /* Estilos de las tarjetas */
  ion-card{
      border-radius: 15px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
      margin-top:10%;
      width: 90%;
    
      ion-card-header{
          ion-card-title{
              color: #333333;
              font-weight: bold;
          }
          ion-card-subtitle{
              color: #3E4958;
              font-size: 13.5px;
              font-weight: 500;
              margin: 8px 0px;
          }
  
          .container-starts{
              ion-icon{
                  font-size: 20px;
                  margin-right: 9px;
              }
          }
      }
  }
  
  /* Contenedor de imagen del usuario */
  .container-img{
      display: flex;
      align-items: center;
      justify-content: center;
      .img{
          width: 82px;
          height: 80px;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
      }
  }
  
  /* Color verde para algunos elementos */
  .green{
      color: #008D36;
  }