<app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button> <ion-content class="ion-padding">
  <ion-grid>
    <app-travel-detail-card [wholePartPrice]="wholePartPrice" [decimalPartPrice]="decimalPartPrice" vehicleType="{{ travel?.vehicleType }}" [duration]="duration"></app-travel-detail-card>
     <ion-card *ngIf="travel?.vehicleType === 'VIP'">
      <ion-list>
        <ion-radio-group value="biff" allow-empty-selection=true class="container-check"> 
          <div>
            <img src="../../../../../../assets/img/icon-pets.svg" alt="">
            <ion-checkbox slot="end" [(ngModel)]="travel.allowPets"></ion-checkbox>
          </div>
        
          <div>
            <img src="../../../../../../assets/img/icon-back.svg" alt="">
            <ion-checkbox slot="end" [(ngModel)]="travel.allowLuggage"></ion-checkbox>
          </div>
     
          <div>
            <img src="../../../../../../assets/img/icon-smoking.svg" alt="">
            <ion-checkbox slot="end" [(ngModel)]="travel.allowSmok"></ion-checkbox>
          </div>

         
        </ion-radio-group>
      </ion-list>
     </ion-card>
     <ion-row class="container-info">
       <ion-col size="8">
         <p class="time-title">Tiempo de viaje estimado</p>
         <p class="time">{{ duration }}</p>
       </ion-col>
       <!--<ion-col size="4" class="container-card">-->
         <!--<div class="container-img">-->
          <!--<img src="../../../../../../assets/img/card.svg" alt="">-->
         <!--</div>-->
         <!--<p>**** 8295</p>-->
      <!--</ion-col>-->
     </ion-row>
     <ion-row>
      <ion-col size="12">
        <app-button title="Confirmar Viaje" (pressButton)="goToSearchDriver('search-driver')"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
