ion-card{
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;
    ion-radio-group{
        display: flex;
        ion-checkbox{
            --background:#F2F2F2;
            --box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
            --border-radius: 8px;
            width: 33.33px;
            height: 30px;
            --background-checked:#F2F2F2;
            --border-color-checked:#008D36;
            --checkmark-width:2;
            --checkmark-color:#008D36;
        }
    }
}
.container-info{
    padding: 0px 12px;
    p{
        margin: 3px 0px;
    }
    .container-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            border: 1px solid #DAE0E6;
            border-radius: 6px;
        }
    }
    .time{
        color:#008D36; 
        font-weight: bold;
    }

    .time-title{
        color: #97ADB6;
    }
}


.container-check{
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
    }
 
}