ion-header {
	ion-row {
		align-items: center;
		.menu-icon-container {
			background-color: #FFFFFF;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
			display: flex;
			justify-content: center;
			align-items: justify;
			border-radius: 100%;
			width: 40px;
			height: 40px;
		}
		.title-container {
			display: flex;
			justify-content: center;
			width: 75%;
			ion-title {
				font-size: 20px;
				font-weight: bold;
				--color: #3E4958;
				text-align: center;
			}
		}
	}
}

ion-back-button {
	margin-left: 5px;
}

ion-toolbar {
	--background: transparent;
}
