<ion-header class="ion-padding-start ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-row>
      <div class="menu-icon-container" (click)="openMenu.emit()">
        <img src="../../../../../assets/img/menu.png">
      </div>
      <div class="title-container">
        <ion-title>{{ title }}</ion-title>
      </div>
    </ion-row>    
  </ion-toolbar>  
</ion-header>
