/* Estilos del header */
ion-toolbar {
    ion-row {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 85%;
      ion-title {
        font-size: 20px;
        font-weight: bold;
        --color: #3E4958;
        text-align: center;
  
      } 
  
    }
  }
  
  /* Estilo para colocar un margen izquierdo a cualquier elemento */
  .margin-left {
    margin-left: 5%;
  }
  
  /* Estilos de las tarjetas */
  ion-card {
    border-radius: 15px;
    box-shadow: none;
    margin-top: 10%;
    width: 90%;
    --background: rgba(0, 0, 0, 0);
    border: none;
  
    ion-card-header {
      ion-card-title {
        color: #333333;
        font-weight: bold;
        font-size: 18px;
      }
  
      ion-card-subtitle {
        color: #7E7E7E;
        font-size: 17px;
        font-weight: 500;
        margin: 8px 0px;
      }
  
      .container-starts {
        ion-icon {
          font-size: 20px;
          margin-right: 9px;
        }
      }
    }
  }
  /* Contenedor de todas las tarjetas de navegación */
  .container {
    padding: 0px 25px;
    ion-row {
      .title {
        font-weight: bold;
        font-size: 19px;
        color: #242424;
        font-size: 20px;
        line-height: 30px;
      }
      .cost {
        font-weight: bold;
        font-size: 19px;
        color: #242424;
        font-size: 20px;
        line-height: 30px;
        margin-left: auto;
      }
      ion-col {
        .subtitle {
          color: #3E4958;
          font-weight: bold;
          font-size: 14px;
        }
        .img-license {
          width: 200%;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  //Estilos de los botones boton 
  .btn {
    width: 130%;
    height: 66px;
    left: 36px;
    top: 722px;
    --border-radius: 50px;
    font-size: 17px;
    
  }
  .white-btn {
    --background: transparent;
    border: solid;
    border-radius: 50px;
    --background-activated: #214E9D;
    --color: blue;
    font-weight: bold;
    margin-top: 10%;
  }
  .green-btn {
    --background: #008D36;
    --background-activated: #008D36;
    --color: white;
    font-weight: bold;
    margin-top: 10%;
  }
  .blue-btn {
    --background: #214E9D;
    --background-activated: #214E9D;
    --color: white;
    font-weight: bold;
    margin-top: 10%;
  }
  /* Estilo del boton blanco */
  .white{
      --background: white;
      --background-activated:white;
      --color:#4B545A;
      font-weight: bold;
      --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
    }
    /* Estilo del boton blanco */
  .red{
    --background: rgb(255, 0, 0);
    --background-activated:rgb(255, 0, 0);
    --color:#ffffff;
    font-weight: bold;
    --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
  }
  /* Contenedor de imagen del usuario */
  .container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 82px;
      height: 80px;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  /* Color verde para algunos elementos */
  .green {
    color: #008D36;
  }
  
  
