<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card>
      <ion-row>
        <ion-col size="4" class="container-img">
          <div *ngIf="(travel | async)?.user.imagen == ''" style="background-image: url('../../../../../assets/img/user.png')" class="img">
          </div>
          <div *ngIf="(travel | async)?.user.imagen != ''" class="img">
            <img src="{{ ((travel | async)?.user.imagen)}}">
          </div>
        </ion-col>
        <ion-col size="8">
           <ion-card-header>
            <ion-card-title>{{ (travel | async)?.user.name }}</ion-card-title>
            <ion-card-subtitle>{{ (travel | async)?.createdAt.toMillis() | date:'short'  }}</ion-card-subtitle>    
            <ion-card-title>{{ (travel | async)?.destinyLocation.address }}</ion-card-title>
        </ion-card-header> 
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <p class="title">Transporte {{(travel | async)?.vehicleType}} </p>
      <p class="cost"> $ {{(travel | async)?.price.dollars}}.{{(travel | async)?.price.cents}} </p>
    </ion-row>  
    <ion-row>
      <ion-col size="6">
         <div class="img-license" >
          <img src="{{ ((travel | async)?.invoiceImg)}}">
        </div> 
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="9">
      </ion-col>
      <ion-button *ngIf="(travel | async)?.status === 'reject' || (travel | async)?.status === 'waiting_payment' " class="btn blue-btn" (click)="confirmPaymentMethod()" >
        Aceptar Solicitud
      </ion-button>
      <ion-button *ngIf="(travel | async)?.status === 'paid' || (travel | async)?.status === 'waiting_payment' " class="btn green-btn" (click)="confirmPaymentMethodReject()">
        Rechazar Solicitud
      </ion-button>
    </ion-row>
  </div>
</ion-content>
