ion-card {
	width: 100%;
	height: 130px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	border: 1px solid blue;
}

.card {
	display: flex;
	justify-content: space-between;
	margin-top: 3%;
	.container-icon {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		ion-icon {
			font-size: 50px;
		}
	}
	.container-title {
		width: 50%;
		h1 {
			font-weight: bold;
		}
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
