<app-close-modal-button (closeModal)="alertsService.closeModal()"></app-close-modal-button>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="title-modal">Ubicación del Destino</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="12">
        <app-address-input text="24, Oviedo y Sucre, Ibarra"></app-address-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="button-container-col">
        <app-button title="Selecciona ubicación" (pressButton)="redirectTo('destination-address')"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
