<ion-app>
  <ion-content fullscreen scroll-y="false">
   
     <div class="container-btn">
      <button class="btn-omitir" [routerLink]="['login']">Omitir</button>
     </div> 
    <ion-slides pager="true" >
      <ion-slide>
        <img class="img-cuadrito" src="../../assets/img/carrito1.png" />
        <h2>Elije una parada</h2>
        <p>Elige entre paradas fijas o una parada personalizada</p>
        <div class="product-image-overlay"></div>
      </ion-slide>

      <ion-slide >
        <img class="img-cuadrito" src="../../assets/img/metododepago.png"    />
        <h2>Elige tu método de pago</h2>
        <p>
          Selecciona una forma de pago preferida o paga una suscripcion para acceder a viajes premium
        </p>
        <div class="product-image-overlay"></div>
      </ion-slide>

      <ion-slide >
        <img class="img-cuadrito" src="../../assets/img/carroavios.png"  />
        <h2>Disfruta de tu viaje</h2>
        <p>Relajate y disfruta de un viaje seguro con iGO</p>

        <div class="product-image-overlay"></div>
      </ion-slide>

      <ion-slide>
        <img class="img-cuadrito" src="../../assets/img/igoLogo.png" />
        <h2>Empecemos Ya!</h2>
        <p></p>
        <div style="width: 100%; display: flex; justify-content: center;">
          <button routerLink="login" class="btn">iGO!</button>
        </div>
        <div class="product-image-overlay"></div>
      </ion-slide>
    </ion-slides>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
    <div class="container-circles">
        <div class="circle activated"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
