ion-slide{
	padding: 40px;
}

img {
  width: 220px;
  height: 200px;
  margin: 60px 0 40px;
}

.img-cuadrito{
  width: 290px;
  height: 290px;
}

:host ::ng-deep .swiper-pagination {
  bottom: 10%;


  .swiper-pagination-bullet {
    --bullet-background: #000000;
    margin-bottom: 7%;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    --bullet-background-active: #4C75B9;
    width: 10px;
    height: 10px;
  }
}

h2 {
  font-weight: 500;
  margin: 0px;
}

.container-btn{
  width: 100% ; 
  display: flex; 
  justify-content: flex-end;
}

.btn {
  border-radius: 10px;
  width: 90%;
  height: 48px;
  position: absolute;
  background: #008D36;
  top: 88%;
  color: white;
  box-shadow: 0px 3px 3px rgba($color:#000000, $alpha: 0.3);
}


.btn-omitir {
  position: absolute;
  padding:30px 40px 0px 0px;
  z-index: 2;
  color: #14386A;
  background-color: rgba($color: #ffffff, $alpha: 0);
  font-size: 16px;
}


ion-slides {
  height: 100%;
  z-index: 1;
}


.swiper-slide {
  display: block;
}



@media only screen and (min-width: 768px){
  img {
    width: 380px;
    height: 360px;
    margin: 60px 0 40px;
  }

  h2{
    font-size: 40px;
  }

  ion-slide{
    p{
      font-size: 20px;
    }
  }

  button{
    font-size: 20px;
  }
  
}

