<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Parámetros iGo</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="margin"> 
    <form [formGroup]="form" (ngSubmit)="update()">
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">NOMBRE DEL BANCO</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="text" formControlName="nameBank"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.nameBank.errors && form.controls.nameBank.touched">
        El campo nombre del banco es requerido.
      </div>     
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">NOMBRE DEL PROPIETARIO</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="text" formControlName="nameOwner"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div class="error" *ngIf="form.controls.nameOwner.errors && form.controls.nameOwner.touched">
        El campo nombre del propietario es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">NÚMERO DE CUENTA</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="number" formControlName="accountNumber"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div
        class="error"
        *ngIf="form.controls.accountNumber.errors && form.controls.accountNumber.touched">
        El campo número de cuenta es requerido.
      </div>
      <ion-row class="container">
        <div class="container-inputs">
          <ion-label class="label">CORREO ELECTRÓNICO</ion-label>
          <ion-item class="input-ionItem">
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <div class="error" *ngIf="form.controls.email.errors && form.controls.email.touched">
        El campo correo electrónico es requerido.
      </div>
      <div class="container-select">
        <ion-label class="label">TIPO DE CUENTA</ion-label>
        <ion-item>
          <ion-select
            name="gender"
            formControlName="typeAccount"
            cancelText="Cancelar"
            name="role"
            value="client"
            okText="Aceptar">
            <ion-select-option value="Cuenta corriente">Cuenta corriente</ion-select-option>
            <ion-select-option value="Cuenta de ahorros">Cuenta de ahorros</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div
        class="error"
        *ngIf="form.controls.typeAccount.errors && form.controls.typeAccount.touched">
        El campo tipo de cuenta es requerido.
      </div> 
      <ion-row class="container-btn">
        <ion-button class="btn green" (click)="update()" [disabled]="!form.valid"> Actualizar </ion-button>
      </ion-row>
    </form>
  </div>

</ion-content>
