<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-header">
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Perfil</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-row class="container-img container-title">
    <p>Actualiza tu perfil</p>
    <ion-item lines="none">
      <ion-input
        slot="end"
        type="file"
        accept="image/*"
        id="file-input"
        (change)="previewImage($event)"
      ></ion-input>
      <div class="img" style="background-image: url({{ user.imagen }});">
        <ion-icon name="pencil-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-row>
  <ion-row class="container-all-inputs center-inputs">
    <div class="container-inputs">
      <ion-label class="label">NOMBRE* </ion-label>
      <ion-item class="input-ionItem">
        <ion-input name="name" type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label">EMAIL*</ion-label>
      <ion-item class="input-ionItem">
        <ion-input
          name="email"
          type="email"
          disabled="true"
          [(ngModel)]="user.email"
        ></ion-input>
      </ion-item>
    </div>

    <div class="container-inputs">
      <ion-label class="label">DIRECCIÓN*</ion-label>
      <ion-item class="input-ionItem">
        <ion-input
          type="text"
          [(ngModel)]="user.address"
          placeholder="Se obtiene desde el GPS"
          disabled="true"
          name="address"
          maxlenght="10"
        ></ion-input>
      </ion-item>
    </div>

    <div class="container-select">
      <ion-label class="label gender">GENERO</ion-label>
      <ion-item class="select-ionItem" style="width: 100%">
        <ion-select
          [(ngModel)]="user.gender"
          cancelText="Cancelar"
          name="role"
          value="client"
          okText="Aceptar"
        >
          <ion-select-option value="Femenino"
            ><span>Femenino</span></ion-select-option
          >
          <ion-select-option value="Masculino"
            ><span>Masculino</span></ion-select-option
          >
          <ion-select-option value="Otros"
            ><span>Otros</span></ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
    <div class="container-inputs">
      <ion-label class="label">NÚMERO DE CELULAR</ion-label>
      <ion-item class="input-ionItem">
        <ion-input
          [(ngModel)]="user.telephoneNumber"
          type="number"
          maxlength="10"
          name="number"
        ></ion-input>
      </ion-item>
    </div>
  </ion-row>

  <ion-row class="container-btn-update">
    <ion-button class="btn btn-green" (click)="update()">
      Actualizar
    </ion-button>
  </ion-row>
</ion-content>
