/* Contenedor de imagen del usuario */

.container-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 8%;
  
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, 0.199);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  
      ion-icon {
        font-size: 25px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  
    /* Estilo de input de subir imagen  */
    #file-input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 999;
    }
  }
  