<ion-card>
  <ion-row>
    <ion-col size="8" class="col-container-img">
      <div class="container-img">
        <img src="../../../../../assets/img/cartypes.png" alt="">
        <p>{{vehicleType}}</p>
      </div>
    
    </ion-col>
    <ion-col size="4" class="container-price">
      <h2>{{ wholePartPrice }}<sup>{{ decimalPartPrice }}</sup></h2>
      <div>
        <p>{{ duration }}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-card>
