ion-card{
    border-radius: 15px;
    padding: 10px;
    margin: 24px 5px;
    .container-price{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: right;
        align-items: center;
        div{
            background-color:#4F4F4F;
            border-radius: 50px;
            width: 72px;
            height: 24px;
            color:#ffff;
            display: flex;
            justify-content: center;
            p{
                margin: 3px 0;
            }
        }
       
    }
    .col-container-img{
        display: flex;
        justify-content: flex-start;
      
        .container-img{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            max-width: 70%;
            border: 0;
            margin: -12%;
            p{
                margin-top: -30px;
            }
         
        }
    }
}

