/* Estilos del header */
ion-toolbar {
    ion-row {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 85%;
  
      ion-title {
        font-size: 20px;
        font-weight: bold;
        --color: #3E4958;
        text-align: center;
  
      }
    }
  }
  
  /* Estilos del contenedor de toda la pagina */
  
  .container {
    margin-top: 10%;
    padding: 0px 25px;
  }
  
  
  /* Contenedor de imagen del usuario */
  .container-img {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
  /* Contenedor del nombre de usuario y estrellas de calificación */
  .container-user-name {
    p {
      margin: 5px 0px;
    }
  
    .container-starts {
      ion-icon {
        font-size: 20px;
        margin-right: 9px;
      }
    }
  }
  
  .container-time {
    display: flex;
    justify-content: flex-end;
  
    p {
      margin: 5px 0px;
      font-size: 12px;
      color: #7F7F7F;
    }
  }
  
  .commentary {
  
    margin: 5px 0px;
    font-size: 15px;
  }
  
  
  /* Color verde para algunos elementos */
  .green {
    color: #008D36;
  }
  