<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Reseñas</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <ion-row>
      <ion-col size="2" class="container-img">
        <div class="img" style="background-image: url(../../assets/img/user.jpg);">
        </div>
      </ion-col>
      <ion-col size=6 class="container-user-name">
        <p>Nombre del usuario</p>
        <div class="container-starts">
          <ion-icon class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>

      </ion-col>
      <ion-col class="container-time" size=4>
        <p>1 Month ago</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        <p class="commentary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quam, laboriosam libero ab, 
          dolore qui illo cum accusantium magni modi labore architecto veniam, 
          omnis quas magnam perspiciatis ex sed blanditiis.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" class="container-img">
        <div class="img" style="background-image: url(../../assets/img/user.jpg);">
        </div>
      </ion-col>
      <ion-col size=6 class="container-user-name">
        <p>Nombre del usuario</p>
        <div class="container-starts">
          <ion-icon class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>

      </ion-col>
      <ion-col class="container-time" size=4>
        <p>1 Month ago</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        <p class="commentary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quam, laboriosam libero ab, 
          dolore qui illo cum accusantium magni modi labore architecto veniam, 
          omnis quas magnam perspiciatis ex sed blanditiis.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" class="container-img">
        <div class="img" style="background-image: url(../../assets/img/user.jpg);">
        </div>
      </ion-col>
      <ion-col size=6 class="container-user-name">
        <p>Nombre del usuario</p>
        <div class="container-starts">
          <ion-icon class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon  class="green" name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>

      </ion-col>
      <ion-col class="container-time" size=4>
        <p>1 Month ago</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        <p class="commentary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quam, laboriosam libero ab, 
          dolore qui illo cum accusantium magni modi labore architecto veniam, 
          omnis quas magnam perspiciatis ex sed blanditiis.</p>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
