/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Estilos de los modales */
.my-custom-class .modal-wrapper {
  height: 40%;
  top: 60%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px 14px 0px 0px;
}
/* Estilos de los modales complete travel */
.my-custom-class-complete .modal-wrapper {
  height: 60%;
  top: 50%;
  width: 100%;
  position: absolute;
  display: block;
  --background:rgba(255,255,255,0);
}

/* Estilos de los modales complete travel */
.my-custom-class-recommendations .modal-wrapper {
  height: 80%;
  top: 30%;
  width: 100%;
  position: absolute;
  display: block;
  --background:rgba(255,255,255,0);
}

.high-modal .modal-wrapper {
  height: 65%;
  top: 35%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px 14px 0px 0px;
}

.select-type-vehicle-modal .modal-wrapper {
  height: 50%;
  top: 50%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.select-stop-modal .modal-wrapper {
  height: 50%;
  top: 50%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.medium-modal .modal-wrapper {
  height: 50%;
  top: 50%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.select-stop-schedule-modal .modal-wrapper {
  height: 40%;
  top: 60%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.ubication-destination-schedula-modal .modal-wrapper {
  height: 30%;
  top: 70%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.destination-address-modal .modal-wrapper {
  height: 35%;
  top: 65%;
  width: 100%;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

/* Estilo del componente ion-back-button */
ion-back-button {
  --color: #3E4958;
}

/* Estilos de los  header */
.toolbar-header {
  ion-row {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 85%;
    ion-title {
      font-size: 20px;
      font-weight: bold;
      --color: #3E4958;
      text-align: center;
    }
  }
}

/* Estilos de los inputs */
.container-all-inputs {
  display: flex;
  justify-content: center;
  .container-inputs {
    margin-bottom: 3%;
    padding: 10px;
    width: 90%;
    text-align: left;
    ion-select {
      width: 100%;
      justify-content: center;
    }
    .label {
      color: #3E4958;
      opacity: 0.8;
      font-weight: bold;
      padding-left: 10px;
    }
    .input-ionItem {
      --background: #F7F8F9;
      --highlight-color-focused: #008D36;
      --highlight-color-valid: #008D36;
      border: 0.5px solid #D5DDE0;
      border-radius: 15px;
      margin-top: 3%;
    }
  }
  .container-select {
    text-align: left;
    padding: 10px;
    width: 90%;
    margin: 0px;
  }

  /* Estilos del ion-item que contiene el ion-select */
  .select-ionItem {
    width: 90%;
    --background: #F7F8F9;
    --border-radius: 15px;
    --color: #008D36;
    --border-color: #D5DDE0;
    --border-style: solid;
    ion-select {
      justify-content: center;
      width: 100%;
      ion-select-option {
        span {
          color: #3E4958
        }
      }
    }
  }
}

/* Estilo para colocar un margen izquierdo a cualquier elemento */
.margin-left {
  margin-left: 5%;
}

/* Estilos del boton en general */
.container-btn-update {
 display: flex;
 justify-content: center;
 .btn {
    width: 90%;
    height: 60px;
    --border-radius:15px;
    --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    --color: white;
    font-size: 17px;
  }
}

/* Contenedor de titulos de las paginas */
.container-title {
  margin-left: 10%;
  margin-bottom: 8%;
  p {
    font-weight: bold;
    font-size: 18px;
    color: #3E4958;
  }
}

/* Color verde para el boton */
.btn-green {
   --background: #008D36;
}

.btn-white {
  --background: white;
  --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
}

.rtn-red {
  --background: #CB2323;
}

/* Estilos de los parrafos del componenete */
p.title {
  color: #3E4958;
  font-size: 18px;
  font-weight: bold;
}

p.title-modal {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3E4958;
  line-height: 28px;
  margin-top: 0px;
}

p.subtitle-modal {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #97ADB6;
}

.input {
  background: #F2F2F2;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  --padding-start: 22px;
}

:root {
  --ion-color-accept-btn: #008D36;
  --ion-color-accept-btn-rgb: 0,141,54;
  --ion-color-accept-btn-contrast: #ffffff;
  --ion-color-accept-btn-contrast-rgb: 255,255,255;
  --ion-color-accept-btn-shade: #007c30;
  --ion-color-accept-btn-tint: #1a984a;
}

.ion-color-accept-btn {
  --ion-color-base: var(--ion-color-accept-btn);
  --ion-color-base-rgb: var(--ion-color-accept-btn-rgb);
  --ion-color-contrast: var(--ion-color-accept-btn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-accept-btn-contrast-rgb);
  --ion-color-shade: var(--ion-color-accept-btn-shade);
  --ion-color-tint: var(--ion-color-accept-btn-tint);
}

app-header {
  width: 100%;
}

ion-toolbar {
  --background: transparent;
}

#map-select-vehicle-page, #map-select-stop-page {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.288);
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map {
    opacity: 1;
  }
}

