<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="img-container">
        <img src="../../../../../assets/img/carrito1.png">
      </ion-col>
      <ion-col size="17">
        <h1 class="message">Ruta Completada</h1>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="button-container" routerLink="../recommendations">
    <app-button title="Calificar Cliente"></app-button>
  </div>
</ion-content>
