ion-col, ion-content {
	display: flex;
	justify-content: center;
}

ion-grid {
	height: 100%;
}

.button-container {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 4%;
}

.img-container {
	width: 75%;
	height: 75%;
}

.message {
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	width: 60%;
	margin-bottom: 0px;
	margin-left: -30%;
}
