
<app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button>
<ion-content class="ion-padding-start ion-padding-end">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="title">Selecciona un tipo de vehículo</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-vehicle-type-button title="Standard" (redirectTo)="redirectTo('select-stop', 'Standard')"></app-vehicle-type-button>
      </ion-col>
      <ion-col size="6">
        <app-vehicle-type-button title="VIP" (redirectTo)="redirectTo('select-stop', 'VIP')"></app-vehicle-type-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" class="label-container">
        <ion-label>Número de Ocupantes</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-input type="number" [(ngModel)]="travel.numberPassengers"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
