p {
	margin-top: 0px;
}

ion-input {
	background: #F2F2F2;
	box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	width: 72px;
	height: 40px;
	text-align: center;
}

.label-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

ion-content {
	--padding-top: 0px;
}

.number-passengers-row {
	border: 1px solid row;
}
