<ion-content [ngClass]="{blue: ((travel | async)?.status === 'pending'), green: ((travel | async)?.status === 'waiting_payment')}">
   <ion-row class="search"> 
     <ion-col size="12">
       <div class="circle" #circle>
         <div class="circle-small" #circleSmall>
           <div class="circle-very-small" #circleVerySmall>
           </div>
         </div>
       </div>
       <img class="img-car" src="../../../../../assets/img/search-car.png" alt="">
     </ion-col>
   </ion-row>
   
   <ion-row *ngIf="(travel | async)?.status === 'waiting_payment'" class="close"> 
    <div class="circle-close" (click)="goToDashBoard()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
   </ion-row>

   <ion-row class="search-text">
    <p *ngIf= "(travel | async)?.status === 'pending'">Buscando Conductor</p>
    <p *ngIf= "(travel | async)?.status === 'waiting_payment'"> ¡ Viaje Confirmado !</p>
   </ion-row>
 </ion-content>
 
