ion-content {
  .search {
    height: 80%;
    width: 100%;

    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.4);
        width: 220px;
        height: 220px;
        border-radius: 100%;

        .circle-small {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }

        .circle-very-small{
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            width: 55px;
            height: 55px;
            border-radius: 100%;
        }
      }
    }
  }
}

.search-text{
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 10%;
  font-size: 25px;
}

.img-car{
    position: absolute;
    width: 100px;
}

.close-next{
  justify-content: center;

  .circle-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:#fff;
    border-radius: 100%;
    ion-icon{
      color:#3E4958;
      font-size: 40px;
      font-weight: bold;
    }
  }
}

.close{
  justify-content: center;
  .circle-close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color:#fff;
    border-radius: 100%;
    ion-icon{
      color:#3E4958;
      font-size: 40px;
      font-weight: bold;
    }
  }
}

ion-content.blue {
  --background: rgba(33, 78, 157, 0.8);
}

ion-content.green {
  --background: rgba(9, 116, 39, 0.8);
}

.btn {
  width: 78%;
  height: 60px;
}