<ion-card class="border">
  <div class="icons-container">
    <div class="point"></div>
    <div class="line"></div>
    <div class="icon"></div>
  </div>
  <div class="items">
    <ion-item>
      <ion-label>24, Oviedo y Sucre, Ibarra</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>24, Oviedo y Sucre, Ibarra</ion-label>
    </ion-item>
  </div>
</ion-card>
