.border {
	border: 1px solid red;
	margin: 0px;
}

.icons-container {
	border: 1px solid yellow;
	display: flex;
	justify-content: center;
}

.items {
	width: 50%;
	border: 1px solid blue;
}

.point {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: blue;
}

.line {
	width: 20px;
	height: 20px;
}
