<ion-card class="cruds-cart">
  <ion-card-content>
    <p><strong>Nombre del banco: </strong>{{ nameBank }}</p>
    <p><strong>Numero de cuenta: </strong>{{ accountNumber }}</p>
    <p><strong>Tipo de cuenta: </strong>{{ typeAccount }}</p>
    <p><strong>Nombre: </strong>{{ nameOwner }}</p>
    <p><strong>Correo: </strong>{{ email }}</p>
  </ion-card-content>
</ion-card>
