/* Estilos del header */
ion-toolbar {
    ion-row {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 85%;
  
      ion-title {
        font-size: 20px;
        font-weight: bold;
        --color: #3E4958;
        text-align: center;
  
      }
    }
  }
  
  .container {
    padding: 0px 25px;
  }
  
  /* Estilo para colocar un margen izquierdo a cualquier elemento */
  .margin-left {
    margin-left: 5%;
  }
  
  /* Estilos de las tarjetas */
  ion-card {
    border-radius: 15px;
    box-shadow: none;
    margin-top: 10%;
    width: 90%;
    --background: rgba(0, 0, 0, 0);
    border: none;
  
    ion-card-header {
      ion-card-title {
        color: #333333;
        font-weight: bold;
      }
  
      ion-card-subtitle {
        color: #3E4958;
        font-size: 13.5px;
        font-weight: 500;
        margin: 8px 0px;
      }
  
      .container-starts {
        ion-icon {
          font-size: 20px;
          margin-right: 9px;
        }
      }
    }
  }
  
  
  /* Contenedor de imagen del usuario */
  .container-img {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .img {
      width: 82px;
      height: 80px;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  /* Color verde para algunos elementos */
  .green {
    color: #008D36;
  }
  
  //Estilos de los botones boton 
  .btn {
    width: 100%;
    height: 60px;
    margin-top: 3%;
    --border-radius: 15px;
    --box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    font-size: 17px;
  }
  
  /* Estilo del boton verde */
  .green-btn {
    --background: #008D36;
    --background-activated: #008D36;
    --color: white;
    font-weight: bold;
  }
  
  /* Estilo del boton blanco */
  .white {
    --background: white;
    --background-activated: white;
    --color: #4B545A;
    font-weight: bold;
    --box-shadow: 0px 2px 8px rgba(16, 105, 227, 0.3);
  }
  
  /* Estilo del boton rojo */
  .red {
    --background: #CB2323;
    --background-activated: #CB2323;
    --color: white;
    font-weight: bold;
  
  }
  