<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="margin-left" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Usuario</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <ion-card  >
      <ion-row>
        <ion-col size="4" class="container-img">
          <div *ngIf="(user | async)?.imagen != ''" style="background-image: url({{ (user | async)?.imagen }});" class="img">
          </div>
          <div *ngIf="(user | async)?.imagen == ''" style="background-image: url('../../../../../assets//img/user.png');" class="img">
          </div>
        </ion-col>

        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{ (user | async)?.name }}</ion-card-title>
            <ion-card-subtitle>{{ (user | async)?.email }}</ion-card-subtitle>
            <ion-card-subtitle>Telefono:{{ (user | async)?.telephoneNumber }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="(user | async)?.role == 'driver'" >Rol: Conductor</ion-card-subtitle>
            <ion-card-subtitle *ngIf="(user | async)?.role == 'admin'" >Rol: Administrador</ion-card-subtitle>
            <ion-card-subtitle *ngIf="(user | async)?.role == 'client'" >Rol: Cliente</ion-card-subtitle>
            <div class="container-starts" *ngIf="(user | async)?.role === 'driver'">
              <ion-icon class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon  class="green" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="12">
        <ion-label *ngIf="(user | async)?.role === 'client'">Rol Actual :<ion-note  color="success"> Cliente</ion-note></ion-label>
         <ion-label *ngIf="(user | async)?.role === 'driver'">Rol Actual :<ion-note  color="medium"> Conductor</ion-note> </ion-label>
         <ion-label *ngIf="(user | async)?.role === 'admin'">Rol Actual :<ion-note  color="primary"> Administrador</ion-note></ion-label>
         
        <ion-select placeholder="Roles disponibles" (ionChange)="checkRole($event)" okText="Aceptar"
                cancelText="Cancelar">
                <ion-select-option  value="client" name="role">Cliente</ion-select-option>
                <ion-select-option  value="driver" name="role">Conductor</ion-select-option>
                <ion-select-option  value="admin" name="role">Administrador</ion-select-option>
              </ion-select>
      </ion-col>
  
      <ion-col size="12">
        <ion-button class="btn green-btn" (click)="updateRoleByUid()">
          Guardar Cambios
        </ion-button>
      </ion-col>
  
      <ion-col size="12">
        <ion-button class="btn white" [routerLink]="['../../reviews']">
          Reseñas
        </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="(user | async)?.isActive != false">
        <ion-button class="btn red" (click)="unsuscribeUser()">
          Desactivar Usuario
         </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="(user | async)?.isActive != true">
        <ion-button class="btn white" (click)="suscribeUser()">
          Activar Usuario
         </ion-button>
      </ion-col>
  
    </ion-row>
  
   

  </div>




</ion-content>

