
  <app-close-modal-button (click)="alertsService.closeModal()"></app-close-modal-button>

<ion-content class="ion-padding">
  <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p class="title-modal">Elige tu parada</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <app-address-input text="24, Oviedo y Sucre, Ibarra"></app-address-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
         <ion-input class="input" placeholder="Referencia"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="button-container-col">
          <app-button title="Seleccionar ubicación" (click)="redirectTo('ubication-destination-schedule')"></app-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
